@model Login.Models.TABLA_AREAS_PROTEGIDAS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TABLA_AREAS_PROTEGIDAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_ap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_ap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.designacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_ap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_ap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hectareas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hectareas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_area_protegida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_area_protegida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo_region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo_provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo_comuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_comuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comuna)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
