@model Login.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="container">
    <div class="jumbotron" style="background-color:transparent;padding:0;">
        <!-- <h1 class="display-4">Error - Licencia caducada</h1>-->
        <img class="img-fluid" src="~/Images/Error/creoCuentaNueva.jpg" style="width:100%;" alt="Crear Cuenta"/>
    </div>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Cree una cuenta nueva</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label", @style = "font-weight:bold;" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", @style = "font-weight:bold;" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="col-md-10 mt-3 mb-3">
                La contraseña debe poseer al menos:
                <br />

                <strong>∙</strong> 6 Carácteres
                <br />
                <strong>∙</strong> 1 Número
                <br />
                <strong>∙</strong> 1 Carácter especial
                <br />
                <strong>∙</strong> 1 Mayúscula
                <br />
                <strong>∙</strong> 1 Minúscula
                <br />

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label", @style = "font-weight:bold;" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 mt-4">
                <input type="submit" class="btn btn-primary" value="Registrarse" />
            </div>
        </div><br><br>
    }
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        ActivarMenuSuperior4("#public_dataAcceso")
    </script>
</div>