@model Login.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Restablecer contraseña";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}



<div class="container" style="margin-bottom:10%;">
    <h2 class="text-center mb-3 pt-5">@ViewBag.Title</h2>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr class="mb-5" />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10 mb-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10 mb-3">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10 mb-3">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <div class="col-md-10 mt-3 mb-3">
                La contraseña debe poseer al menos:
                <br />

                <strong>∙</strong> 6 carácteres
                <br />
                <strong>∙</strong> 1 Número
                <br />
                <strong>∙</strong> 1 caracter especial
                <br />
                <strong>∙</strong> 1 mayúscula
                <br />
                <strong>∙</strong> 1 minúscula
                <br />

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Restablecer" />
            </div>
        </div>
    }
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")*@
    <script>
        ActivarMenuSuperior4("#public_dataAcceso")
    </script>
@*}*@
