
@{
    Layout = null;
}

<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link href="~/Content/carrusel14/fonts/icomoon/style.css" rel="stylesheet" />


    <link href="~/Content/carrusel14/css/owl.carousel.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    @*<link href="~/Content/carrusel14/css/bootstrap.min.css" rel="stylesheet" />*@

    <!-- Style -->
    <link href="~/Content/carrusel14/css/style2.css" rel="stylesheet" />

    @*<title>Carousel #4</title>*@
</head>
<body>


    <div class="content">

        <div class="container-fluid">

            @*<h2 class="my-5 text-center">Carousel #4</h2>*@

            <div class="owl-carousel slide-one-item">
                @{ var contador = 0; }
                @foreach (var item in ViewBag.Graficos.GraficosMovil)
                {

                    <div class="d-md-flex testimony-29101 ">
                        @*<div class="image" style="background-image: url('../../Content/carrusel14/images/person_1.jpg');"></div>*@
                        <iframe class="embed-responsive-item " style="width: 100%; height: 300px" src="@item.url" allowfullscreen></iframe>
                        <div class="text" style="background-color: @item.color !important;">
                            <p class="textoCarrusel textoCarruselPrincipal text-center">
                                @item.titulo
                            </p>
                            <p class="textoCarrusel textoCarruselIdeaFuerza text-center">
                                @item.ideaFuerza
                            </p>
                            <p class="carruselLineaBlanca">
                            </p>
                            <p class="textoCarrusel textoCarruselDescripcion mt-3">
                                @item.descripcion
                            </p>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
    <script src="~/Content/carrusel14/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/carrusel14/js/popper.min.js"></script>
    <script src="~/Content/carrusel14/js/bootstrap.min.js"></script>
    <script src="~/Content/carrusel14/js/owl.carousel.min.js"></script>
    <script src="~/Content/carrusel14/js/main.js"></script>
</body>
</html>




