
@{
    Layout = null;
}

<html lang="en">
<head>
    <link rel="preconnect" href="https://analytics.zoho.com">
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link href="~/Content/carrusel14/fonts/icomoon/style.css" rel="stylesheet" />


    <link href="~/Content/carrusel14/css/owl.carousel.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    @*<link href="~/Content/carrusel14/css/bootstrap.min.css" rel="stylesheet" />*@

    <!-- Style -->
    <link href="~/Content/carrusel14/css/style.css" rel="stylesheet" />

    @*<title>Carousel #4</title>*@
</head>
<body>
    <div class="content">
        <div class="container-fluid">
            <div class="owl-carousel slide-one-item">
                @{ var contador = 0; }
                @foreach (var item in ViewBag.Graficos.Graficos)
                {
                    @*
                    contador++;
                    if (contador == 6)
                    {
                        break;
                    }*@
                    <div class="d-flex testimony-29101 align-items-stretch" style="width:100%; min-height:610px; max-height:615px !important;" >
                        @*<div class="image" style="background-image: url('../../Content/carrusel14/images/person_1.jpg');"></div>*@
                        <iframe loading="lazy" class="embed-responsive-item" style="width:100%; min-height:600px; max-height:605px !important;" src="@item.url" allowfullscreen></iframe>
                        <div class="text contenedorTextoCarrusel" style="background-color: @item.color !important;background: linear-gradient(180deg, rgb(20%, 40%, 60%), rgb(60%, 20%, 40%)) !important;">
                            <p class="textoCarrusel textoCarruselPrincipal text-center">
                                @item.titulo
                            </p>
                            <p class="textoCarrusel textoCarruselIdeaFuerza text-center">
                                @item.ideaFuerza
                            </p>
                            <p class="carruselLineaBlanca">
                            </p>
                            <p class="textoCarrusel textoCarruselDescripcion mt-3">
                                @item.descripcion
                            </p>
                            <div class="container-fluid contenedorFooter mt-5 mb-0" style="display: flex;height:10rem;">
                                <div class="row mt-5" style="width:120%;align-self: flex-end;">
                                    <div class="col-4 float-right mt-1" style="align-self: center;">
                                        <p class="textoCarrusel textoCarruselFooter">
                                            Desarrollado por  <br />
                                            Data Intelligence Internacional
                                        </p>
                                    </div>
                                    <div class="col-7 offset-1">
                                        <img class="img" src="~/Content/img/blanco-trans.png" style="border-left:0.05rem solid white;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    
    <script src="~/Content/carrusel14/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/carrusel14/js/popper.min.js"></script>
    <script src="~/Content/carrusel14/js/bootstrap.min.js"></script>
    <script src="~/Content/carrusel14/js/owl.carousel.min.js"></script>
    <script src="~/Content/carrusel14/js/main.js"></script>
    @*Estilo para la personalización del carrusel en Desktop*@
    <link href="~/Content/carrusel14/DataCarrusel.css" rel="stylesheet" />
</body>
</html>

