@{
    Layout = null;

}
<!doctype html>
<html lang="en">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>

<body style="overflow-x:hidden;">
    <div class="py-5 bg-light c2a1" style=" background-image: url('/Content/image_estadistica/portadaInicio_100_1.jpg');">
        <div class="container" style="margin-top:180PX;">
            <!-- Row -->
            <div class="row justify-content-center mt-5">
                <div class="col-md-4 col-8 text-center mt-5">
                    <img class="img-fluid" src="~/Content/image_estadistica/logo_DataIntelligence_slogan.png" />
                </div>
            </div>
            <!-- Row -->
            <div class="row justify-content-center" style="margin-top:190px !important">
                <div class="col-md-4 col-8 text-center mt-5">
                    <h3 class="tituloBuscador mb-3 text-white font-weight-medium" style="margin-top:15%;">¡Explora, busca y encuentra!</h3>

                    <form action="~/info/PaginaBusqueda" method="get">
                        <input class="buscador typeahead form-control" type="text" id="id" name="id" placeholder="Busqueda de palabras claves" style="border-radius:10px;">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--SECCION DE CARRUCEL -->
    <div class="py-5 px-3 bg-light " style=" background-image: url('/Content/image_estadistica/portadaInicio_100_7.jpg');">
        <section class="pt-3 pb-5">
            <div class="container-fluid" style=" background-image: url('/Content/image_estadistica/portadaInicio_100_7.jpg');">
                <div class="row justify-content-center text-center">
                    <div class="col-8 mb-4" style="color:#fff;">
                        <h2 class="mb-3">¡Miles de estadísticas!</h2>
                        <p style="font-size:24px;">
                            Todas procesadas y graficadas por sectores, temas y categorías
                        </p>
                    </div>

                    <!--Test nuevo carrusel-->
                    <div>
                        @{ Html.RenderAction("CarruselVetical", "Info");}
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 d-sm-block d-md-none">
                         @{ Html.RenderAction("CarruselVetical2", "Info");}
                    </div>
                   
                    @*<div class="col-lg-12 d-none d-sm-none d-md-block offset-3" style="height: 80vh;">
                        @{ Html.RenderAction("CarruselVetical3", "Info");}
                    </div>*@

                    @*<div class="col-8 d-md-none"; >
                        <div id="carouselExampleIndicators2" class="carousel" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <a class="link-card" href="/info/Index2?id=@ViewBag.Graficos[0].id">
                                                <div data-toggle="tooltip" data-placement="top" title="@ViewBag.Graficos[0].titulo">
                                                    <div class="card-header bg-dark   text-center" style="border: 0.5px solid; border-top-left-radius: 10px; border-top-right-radius: 10px; min-height:65px !important; max-height:65px !important; margin-right: 0px !important; margin-left: 0px !important;">
                                                        <div class="row">
                                                            <div class="col-md-1 col-2">
                                                                <img class="img-fluid m-2" width="40" src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="Alternate Text" />
                                                            </div>
                                                            <div class="col">
                                                                <p class="mt-2" style="color:#fff;">@ViewBag.Graficos[0]._titulo2</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <img class="img-fluid" alt="https://serviciodashboard.azurewebsites.net/Content/img/iconos_TipoProducto/1.png" src="@ViewBag.Graficos[0]._url_Image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <a class="link-card" href="/info/Index2?id=@ViewBag.Graficos[1].id">
                                                <div data-toggle="tooltip" data-placement="top" title="@ViewBag.Graficos[1].titulo">
                                                    <div class="row card-header bg-dark   text-center" style="border: 0.5px solid; border-top-left-radius: 10px; border-top-right-radius: 10px; min-height:65px !important; max-height:65px !important; margin-right: 0px !important; margin-left: 0px !important;">
                                                        <div class="col-md-1 col-2">
                                                            <img class="img-fluid m-2" width="40" src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="Alternate Text" />
                                                        </div>
                                                        <div class="col">
                                                            <p class="mt-2" style="color:#fff;">@ViewBag.Graficos[1]._titulo2</p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <img class="img-fluid" alt="100%x280" src="@ViewBag.Graficos[1]._url_Image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <a class="link-card" href="/info/Index2?id=@ViewBag.Graficos[2].id">
                                                <div data-toggle="tooltip" data-placement="top" title="@ViewBag.Graficos[2].titulo">
                                                    <div class="row card-header bg-dark   text-center" style="border: 0.5px solid; border-top-left-radius: 10px; border-top-right-radius: 10px; min-height:65px !important; max-height:65px !important; margin-right: 0px !important; margin-left: 0px !important;">
                                                        <div class="col-md-1 col-2">
                                                            <img class="img-fluid m-2" width="40" src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="Alternate Text" />
                                                        </div>
                                                        <div class="col">
                                                            <p class="mt-2" style="color:#fff;">@ViewBag.Graficos[2]._titulo2</p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <img class="img-fluid" alt="100%x280" src="@ViewBag.Graficos[2]._url_Image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <a class="link-card" href="/info/Index2?id=@ViewBag.Graficos[3].id">
                                                <div data-toggle="tooltip" data-placement="top" title="@ViewBag.Graficos[3].titulo">
                                                    <div class="row card-header bg-dark   text-center" style="border: 0.5px solid; border-top-left-radius: 10px; border-top-right-radius: 10px; min-height:65px !important; max-height:65px !important; margin-right: 0px !important; margin-left: 0px !important;">
                                                        <div class="col-md-1 col-2">
                                                            <img class="img-fluid m-2" width="40" src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="Alternate Text" />
                                                        </div>
                                                        <div class="col">
                                                            <p class="mt-2" style="color:#fff;">@ViewBag.Graficos[3]._titulo2</p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <img class="img-fluid" alt="100%x280" src="@ViewBag.Graficos[3]._url_Image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <a class="link-card" href="/info/Index2?id=@ViewBag.Graficos[4].id">
                                                <div data-toggle="tooltip" data-placement="top" title="@ViewBag.Graficos[4].titulo">
                                                    <div class="row card-header bg-dark   text-center" style="border: 0.5px solid; border-top-left-radius: 10px; border-top-right-radius: 10px; min-height:65px !important; max-height:65px !important; margin-right: 0px !important; margin-left: 0px !important;">
                                                        <div class="col-md-1 col-2">
                                                            <img class="img-fluid m-2" width="40" src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="Alternate Text" />
                                                        </div>
                                                        <div class="col">
                                                            <p class="mt-2" style="color:#fff;">@ViewBag.Graficos[4]._titulo2</p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <img class="img-fluid" alt="100%x280" src="@ViewBag.Graficos[4]._url_Image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <a class="link-card" href="/info/Index2?id=@ViewBag.Graficos[5].id">
                                                <div data-toggle="tooltip" data-placement="top" title="@ViewBag.Graficos[5].titulo">
                                                    <div class="row card-header bg-dark   text-center" style="border: 0.5px solid; border-top-left-radius: 10px; border-top-right-radius: 10px; min-height:65px !important; max-height:65px !important; margin-right: 0px !important; margin-left: 0px !important;">
                                                        <div class="col-md-1 col-2">
                                                            <img class="img-fluid m-2" width="40" src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="Alternate Text" />
                                                        </div>
                                                        <div class="col">
                                                            <p class="mt-2" style="color:#fff;">@ViewBag.Graficos[5]._titulo2</p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <img class="img-fluid" alt="100%x280" src="@ViewBag.Graficos[5]._url_Image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <a class="link-card" href="/info/Index2?id=@ViewBag.Graficos[6].id">
                                                <div data-toggle="tooltip" data-placement="top" title="@ViewBag.Graficos[6].titulo">
                                                    <div class="row card-header bg-dark   text-center" style="border: 0.5px solid; border-top-left-radius: 10px; border-top-right-radius: 10px; min-height:65px !important; max-height:65px !important; margin-right: 0px !important; margin-left: 0px !important;">
                                                        <div class="col-md-1 col-2">
                                                            <img class="img-fluid m-2" width="40" src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="Alternate Text" />
                                                        </div>
                                                        <div class="col">
                                                            <p class="mt-2" style="color:#fff;">@ViewBag.Graficos[6]._titulo2</p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <img class="img-fluid" alt="100%x280" src="@ViewBag.Graficos[6]._url_Image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <a class="link-card" href="/info/Index2?id=@ViewBag.Graficos[7].id">
                                                <div data-toggle="tooltip" data-placement="top" title="@ViewBag.Graficos[7].titulo">
                                                    <div class="row card-header bg-dark   text-center" style="border: 0.5px solid; border-top-left-radius: 10px; border-top-right-radius: 10px; min-height:65px !important; max-height:65px !important; margin-right: 0px !important; margin-left: 0px !important;">
                                                        <div class="col-md-1 col-2">
                                                            <img class="img-fluid m-2" width="40" src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="Alternate Text" />
                                                        </div>
                                                        <div class="col">
                                                            <p class="mt-2" style="color:#fff;">@ViewBag.Graficos[7]._titulo2</p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <img class="img-fluid" alt="100%x280" src="@ViewBag.Graficos[7]._url_Image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <a class="link-card" href="/info/Index2?id=@ViewBag.Graficos[8].id">
                                                <div data-toggle="tooltip" data-placement="top" title="@ViewBag.Graficos[8].titulo">
                                                    <div class="row card-header bg-dark   text-center" style="border: 0.5px solid; border-top-left-radius: 10px; border-top-right-radius: 10px; min-height:65px !important; max-height:65px !important; margin-right: 0px !important; margin-left: 0px !important;">
                                                        <div class="col-md-1 col-2">
                                                            <img class="img-fluid m-2" width="40" src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="Alternate Text" />
                                                        </div>
                                                        <div class="col">
                                                            <p class="mt-2" style="color:#fff;">@ViewBag.Graficos[8]._titulo2</p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <img class="img-fluid" alt="100%x280" src="@ViewBag.Graficos[8]._url_Image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">

                                        <div class="col-md-4 mb-3">
                                            <a class="link-card" href="/info/Index2?id=@ViewBag.Graficos[9].id">
                                                <div data-toggle="tooltip" data-placement="top" title="@ViewBag.Graficos[9].titulo">
                                                    <div class="row card-header bg-dark   text-center" style="border: 0.5px solid; border-top-left-radius: 10px; border-top-right-radius: 10px; min-height:65px !important; max-height:65px !important; margin-right: 0px !important; margin-left: 0px !important;">
                                                        <div class="col-md-1 col-2">
                                                            <img class="img-fluid m-2" width="40" src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="Alternate Text" />
                                                        </div>
                                                        <div class="col">
                                                            <p class="mt-2" style="color:#fff;">@ViewBag.Graficos[9]._titulo2</p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <img class="img-fluid" alt="100%x280" src="@ViewBag.Graficos[9]._url_Image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <a class="link-card" href="/info/Index2?id=@ViewBag.Graficos[10].id">
                                                <div data-toggle="tooltip" data-placement="top" title="@ViewBag.Graficos[10].titulo">
                                                    <div class="row card-header bg-dark   text-center" style="border: 0.5px solid; border-top-left-radius: 10px; border-top-right-radius: 10px; min-height:65px !important; max-height:65px !important; margin-right: 0px !important; margin-left: 0px !important;">
                                                        <div class="col-md-1 col-2">
                                                            <img class="img-fluid m-2" width="40" src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="Alternate Text" />
                                                        </div>
                                                        <div class="col">
                                                            <p class="mt-2" style="color:#fff;">@ViewBag.Graficos[10]._titulo2</p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <img class="img-fluid" alt="100%x280" src="@ViewBag.Graficos[10]._url_Image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <a class="link-card" href="/info/Index2?id=@ViewBag.Graficos[11].id">
                                                <div data-toggle="tooltip" data-placement="top" title="@ViewBag.Graficos[11].titulo">
                                                    <div class="row card-header bg-dark   text-center" style="border: 0.5px solid; border-top-left-radius: 10px; border-top-right-radius: 10px; min-height:65px !important; max-height:65px !important; margin-right: 0px !important; margin-left: 0px !important;">
                                                        <div class="col-md-1 col-2">
                                                            <img class="img-fluid m-2" width="40" src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="Alternate Text" />
                                                        </div>
                                                        <div class="col">
                                                            <p class="mt-2" style="color:#fff;">@ViewBag.Graficos[11]._titulo2</p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <img class="img-fluid" alt="100%x280" src="@ViewBag.Graficos[11]._url_Image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-right d-md-none">
                        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>*@
                </div>
            </div>
        </section>

    </div>
    <!--seccion de dimensiones-->
    <div class="container-fluid text-center" style=" background-image: url('/Content/image_estadistica/portadaInicio_100_8.jpg'); padding-bottom:8%;">
        <div class="row">
            <h3 style="padding-top:60px;">¡Todo tipo de temáticas!</h3>
            <p style="font-size:24px;padding-bottom:20px;">
                Generamos día a día información histórica, actual y proyectada
            </p>
        </div>

        <div class="row d-flex justify-content-center" style="font-size:12px;">
            <div class="col-12 col-md-3 col-lg-3 col-xl-2">
                <img class="img-fluid" src="~/Content/image_estadistica/logo_DimensionAmbiental_descripcion.png" alt="Alternate Text" />
                <div class="row d-block palabrasClaves" style="border:#9bc4d0;  overflow:scroll; height:200px; overflow-x:hidden;">
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="ambiental1" class="btn btn-sm btn-outline-success" style="border-radius: 25px; font-size:larger;" value="ambiental1">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="ambiental2" class="btn btn-sm btn-outline-success" style="border-radius: 25px; font-size:larger;" value="ambiental2">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="ambiental3" class="btn btn-sm btn-outline-success" style="border-radius: 25px; font-size:larger;" value="ambiental3">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="ambiental4" class="btn btn-sm btn-outline-success" style="border-radius: 25px; font-size:larger;" value="ambiental4">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="ambiental5" class="btn btn-sm btn-outline-success" style="border-radius: 25px; font-size:larger;" value="ambiental5">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="ambiental6" class="btn btn-sm btn-outline-success" style="border-radius: 25px; font-size:larger;" value="ambiental6">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="ambiental7" class="btn btn-sm btn-outline-success" style="border-radius: 25px; font-size:larger;" value="ambiental7">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="ambiental8" class="btn btn-sm btn-outline-success" style="border-radius: 25px; font-size:larger;" value="ambiental8">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="ambiental9" class="btn btn-sm btn-outline-success" style="border-radius: 25px; font-size:larger;" value="ambiental9">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="ambiental10" class="btn btn-sm btn-outline-success" style="border-radius: 25px; font-size:larger;" value="ambiental10">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 col-xl-2">
                <img class="img-fluid" src="~/Content/logo_DimensionSocial_descripcion.png" alt="Alternate Text" />
                <div class="row d-block palabrasClaves" style="border-left:0.5px solid #b5a7a7;  overflow:scroll; height:200px; overflow-x:hidden;">
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="social1" class="btn btn-sm btn-outline-danger" style="border-radius: 25px; font-size:larger;" value="social1">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="social2" class="btn btn-sm btn-outline-danger" style="border-radius: 25px; font-size:larger;" value="social2">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="social3" class="btn btn-sm btn-outline-danger" style="border-radius: 25px; font-size:larger;" value="social3">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="social4" class="btn btn-sm btn-outline-danger" style="border-radius: 25px; font-size:larger;" value="social4">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="social5" class="btn btn-sm btn-outline-danger" style="border-radius: 25px; font-size:larger;" value="social5">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="social6" class="btn btn-sm btn-outline-danger" style="border-radius: 25px; font-size:larger;" value="social6">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="social7" class="btn btn-sm btn-outline-danger" style="border-radius: 25px; font-size:larger;" value="social7">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="social8" class="btn btn-sm btn-outline-danger" style="border-radius: 25px; font-size:larger;" value="social8">
                        </a>
                    </div>
                    <div class="col ">
                        <button type="button" class="btn btn-sm btn-outline-danger" style="border-radius: 25px; font-size:larger;">Femicidios</button>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="social10" class="btn btn-sm btn-outline-danger" style="border-radius: 25px; font-size:larger;" value="social10">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 col-xl-2">
                <img class="img-fluid" src="~/Content/logo_DimensionEconomica_descripcion.png" alt="Alternate Text" />
                <div class="row d-block palabrasClaves" style="border-left:0.5px solid #b5a7a7; overflow:scroll; height:200px; overflow-x:hidden;">
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="economia1" class="btn btn-sm btn-outline-warning " style="border-radius: 25px; font-size:larger;" value="economia1">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="economia2" class="btn btn-sm btn-outline-warning " style="border-radius: 25px; font-size:larger;" value="economia2">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="economia3" class="btn btn-sm btn-outline-warning " style="border-radius: 25px; font-size:larger;" value="economia3">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="economia4" class="btn btn-sm btn-outline-warning " style="border-radius: 25px; font-size:larger;" value="economia4">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="economia5" class="btn btn-sm btn-outline-warning " style="border-radius: 25px; font-size:larger;" value="economia5">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="economia6" class="btn btn-sm btn-outline-warning " style="border-radius: 25px; font-size:larger;" value="economia6">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="economia7" class="btn btn-sm btn-outline-warning " style="border-radius: 25px; font-size:larger;" value="economia7">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="economia8" class="btn btn-sm btn-outline-warning " style="border-radius: 25px; font-size:larger;" value="economia8">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="economia9" class="btn btn-sm btn-outline-warning " style="border-radius: 25px; font-size:larger;" value="economia9">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="economia10" class="btn btn-sm btn-outline-warning " style="border-radius: 25px; font-size:larger;" value="economia10">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 col-xl-2">
                <img class="img-fluid" src="~/Content/logo_DimensionInstitucional_descripcion.png" alt="Alternate Text" />
                <div class="row d-block palabrasClaves" style="border-left:0.5px solid #b5a7a7;  overflow:scroll; height:200px; overflow-x:hidden;">
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="institucional1" class="btn btn-sm btn-outline-info" style="border-radius: 25px; font-size:larger;" value="institucional1">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="institucional2" class="btn btn-sm btn-outline-info" style="border-radius: 25px; font-size:larger;" value="institucional2">
                        </a>
                    </div>
                    <div class="col">
                        <a href="/info/PaginaBusqueda?id=" id="institucional3" class="btn btn-sm btn-outline-info" style="border-radius: 25px; font-size:larger;" value="institucional3">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="institucional4" class="btn btn-sm btn-outline-info" style="border-radius: 25px; font-size:larger;" value="institucional4">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="institucional5" class="btn btn-sm btn-outline-info" style="border-radius: 25px; font-size:larger;" value="institucional5">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="institucional6" class="btn btn-sm btn-outline-info" style="border-radius: 25px; font-size:larger;" value="institucional6">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="institucional7" class="btn btn-sm btn-outline-info" style="border-radius: 25px; font-size:larger;" value="institucional7">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="institucional8" class="btn btn-sm btn-outline-info" style="border-radius: 25px; font-size:larger;" value="institucional8">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="institucional9" class="btn btn-sm btn-outline-info" style="border-radius: 25px; font-size:larger;" value="institucional9">
                        </a>
                    </div>
                    <div class="col ">
                        <a href="/info/PaginaBusqueda?id=" id="institucional10" class="btn btn-sm btn-outline-info" style="border-radius: 25px; font-size:larger;" value="institucional10">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--seccion de suscripciones-->
    <div class="container-fluid text-center" style=" background-image: url('/Content/img/Promociones/imagenpromocion_fondo.jpg');padding-bottom:40px; background-size:cover;">

        <div class="row" style="padding-left:20%; padding-right:20%">
            <div class="col-12">
                <h3 style="color:#fff; padding:40px 0px;">
                    ¡Imagina toda la información pública
                    de un país en una sola plataforma!
                </h3>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-left:20%; padding-right:20%">
            <div class="col-12">
                <img class="img-fluid" src="~/Content/img/Promociones/imagenpromocion_1.png" alt="100%x280" />
            </div>
        </div>
    </div>

    <div class="container-fluid text-center" style=" background-color: black;padding-bottom:40px; background-size:cover;">

        <div class="row" style="padding-left:20%; padding-right:20%">
            <div class="col-12">
                <h3 style="color:#fff; padding:40px 0px; margin-bottom:10px;">
                    ¡Y para los que necesitan más información!
                </h3>
            </div>
        </div>
        <div class="row d-flex justify-content-center mb-4" style="padding-left:35%; padding-right:35%">
            <div class="col-12">
                <img class="img-fluid" src="~/Content/img/Promociones/imagenpromocion_2.png" />
            </div>
        </div>
        <div class="row" style="padding-left:20%; padding-right:20%">
            <div class="col-12">
                <img class="img-fluid" src="~/Content/img/Promociones/imagenpromocion_3.png" />
            </div>
        </div>
        <div class="row mb-1" style="padding-left:20%; padding-right:20%">

            <div class="col-12">
                <h3 style="color:#fff; padding:40px 0px;">
                    La suscripción anual Cuenta Profesional fue diseñada especialmente para potenciar las investigaciones, proyectos o planificaciones de quienes requieren una mayor cantidad de información.

                </h3>
            </div>

        </div>
        <div class="row mb-4" style="padding-left:20%; padding-right:20%">
            <h3 style="color:#009fcf">
                INCLUYE
            </h3>
            <div class="col-3">
                <img class="img-fluid" src="~/Content/img/Promociones/imagenpromocion_3_1.png" />
            </div>
            <div class="col-3">
                <img class="img-fluid" src="~/Content/img/Promociones/imagenpromocion_3_2.png" />
            </div>
            <div class="col-3">
                <img class="img-fluid" src="~/Content/img/Promociones/imagenpromocion_3_3.png" />
            </div>
            <div class="col-3">
                <img class="img-fluid" src="~/Content/img/Promociones/imagenpromocion_3_4.png" />
            </div>
        </div>
        <div class="row" style="padding-left:20%; padding-right:20%">
            <div class="col-6" style="border-right:0.5px solid #b5a7a7;font-size:9px;text-align:right;">
                <span style="color:white; font-size:18px;">USD</span>
                <span style="color:red; font-size:22px;">$35</span>
                <br />
                <span style="color:white; font-size:18px;"> mensuales</span>
            </div>
            <div class="col-6" style="text-align:left;">
                <a href="https://dataintelligence.store" class="btn btn-danger btn-sm mt-2 text-left" style="border-radius:20px; font-size:20px;" target="_blank">
                    Adquirir
                </a>
            </div>
        </div>
    </div>
    <!--Seccion ultimo-->
    <div class="container-fluid py-5 bg-dark text-center" ;>
        <div class="row">
            <div class="col">
                <h2 class="mb-2" style="color:#fff;">
                    ¡Explora nuestro mundo de información!
                </h2>
                <p class="mb-4" style="color:#fff;font-size:20px;">
                    Una opción perfecta para el informe o análisis que necesitas
                </p>
            </div>

        </div>

        <div class="row justify-content-center" style="padding-left:15%; padding-right:15%; width:100% !important; margin-left:0 !important;">
            <div class="col-12 col-md-4 col-lg-2">
                <a href="/info/ResultadoNiveles?id=10&id2=1">
                    <img class="img-fluid" src="~/Content/image_estadistica/1_boton_agropecuario_normal.png" onmouseover="this.src='/Content/image_estadistica/1_boton_agropecuario_on.png'" onmouseout="this.src='/Content/image_estadistica/1_boton_agropecuario_normal.png'" />
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <a href="/info/PaginaBusqueda?id=mujer"><img class="img-fluid" src="~/Content/image_estadistica/18_boton_mujer_normal.png" onmouseover="this.src = '/Content/image_estadistica/18_boton_mujer_on.png'" onmouseout="this.src='/Content/image_estadistica/18_boton_mujer_normal.png'" /></a>

            </div>
        </div>

            @*<div class="carousel" id="carousel2" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row justify-content-center" style="padding-left:15%; padding-right:15%; width:100% !important; margin-left:0 !important;">
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=10&id2=1">
                                    <img class="img-fluid" src="~/Content/image_estadistica/1_boton_agropecuario_normal.png" onmouseover="this.src='/Content/image_estadistica/1_boton_agropecuario_on.png'" onmouseout="this.src='/Content/image_estadistica/1_boton_agropecuario_normal.png'" />
                                </a>
                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=13&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/2_boton_construccion_normal.png" onmouseover="this.src = '/Content/image_estadistica/2_boton_construccion_on.png'" onmouseout="this.src='/Content/image_estadistica/2_boton_construccion_normal.png'" /></a>
                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=15&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/3_boton_medioambiente_normal.png" onmouseover="this.src = '/Content/image_estadistica/3_boton_medioambiente_on.png'" onmouseout="this.src='/Content/image_estadistica/3_boton_medioambiente_normal.png'" /></a>

                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=20&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/4_boton_salud_normal.png" onmouseover="this.src = '/Content/image_estadistica/4_boton_salud_on.png'" onmouseout="this.src='/Content/image_estadistica/4_boton_salud_normal.png'" /></a>

                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=20&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/14_boton_mundo_normal.png" onmouseover="this.src = '/Content/image_estadistica/14_boton_mundo_on.png'" onmouseout="this.src='/Content/image_estadistica/14_boton_mundo_normal.png'" /></a>

                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/PaginaBusqueda?id=mujer"><img class="img-fluid" src="~/Content/image_estadistica/18_boton_mujer_normal.png" onmouseover="this.src = '/Content/image_estadistica/18_boton_mujer_on.png'" onmouseout="this.src='/Content/image_estadistica/18_boton_mujer_normal.png'" /></a>

                            </diV>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center" style="padding-left:15%; padding-right:15%; width:100% !important; margin-left:0 !important;">
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=22&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/5_boton_mediosocial_normal.png" onmouseover="this.src = '/Content/image_estadistica/5_boton_mediosocial_on.png'" onmouseout="this.src='/Content/image_estadistica/5_boton_mediosocial_normal.png'" /></a>
                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=24&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/6_boton_turismo_normal.png" onmouseover="this.src = '/Content/image_estadistica/6_boton_turismo_on.png'" onmouseout="this.src='/Content/image_estadistica/6_boton_turismo_normal.png'" /></a>
                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=11&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/7_boton_consumo_normal.png" onmouseover="this.src = '/Content/image_estadistica/7_boton_consumo_on.png'" onmouseout="this.src='/Content/image_estadistica/7_boton_consumo_normal.png'" /></a>
                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=12&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/8_boton_tiempolibre_normal.png" onmouseover="this.src = '/Content/image_estadistica/8_boton_tiempolibre_on.png'" onmouseout="this.src='/Content/image_estadistica/8_boton_tiempolibre_normal.png'" /></a>
                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=12&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/16_boton_educacion_normal.png" onmouseover="this.src = '/Content/image_estadistica/16_boton_educacion_on.png'" onmouseout="this.src='/Content/image_estadistica/16_boton_educacion_normal.png'" /></a>
                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=12&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/15_boton_economia_normal.png" onmouseover="this.src = '/Content/image_estadistica/15_boton_economia_on.png'" onmouseout="this.src='/Content/image_estadistica/15_boton_economia_normal.png'" /></a>
                            </diV>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center" style="padding-left:15%; padding-right:15%; width:100% !important; margin-left:0 !important;">
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=25&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/9_boton_finanzas_normal.png" onmouseover="this.src = '/Content/image_estadistica/9_boton_finanzas_on.png'" onmouseout="this.src='/Content/image_estadistica/9_boton_finanzas_normal.png'" /></a>
                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=16&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/10_boton_tecnologia_normal.png" onmouseover="this.src = '/Content/image_estadistica/10_boton_tecnologia_on.png'" onmouseout="this.src='/Content/image_estadistica/10_boton_tecnologia_normal.png'" /></a>
                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=18&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/11_boton_comunicacion_normal.png" onmouseover="this.src = '/Content/image_estadistica/11_boton_comunicacion_on.png'" onmouseout="this.src='/Content/image_estadistica/11_boton_comunicacion_normal.png'" /></a>
                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=19&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/12_boton_recursos_normal.png" onmouseover="this.src = '/Content/image_estadistica/12_boton_recursos_on.png'" onmouseout="this.src='/Content/image_estadistica/12_boton_recursos_normal.png'" /></a>
                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=ttt&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/13_boton_vidaplena_normal.png" onmouseover="this.src = '/Content/image_estadistica/13_boton_vidaplena_on.png'" onmouseout="this.src='/Content/image_estadistica/13_boton_vidaplena_normal.png'" /></a>
                            </diV>
                            <diV class="col-12 col-md-4 col-lg-2">
                                <a href="/info/ResultadoNiveles?id=12&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/17_boton_politica_normal.png" onmouseover="this.src = '/Content/image_estadistica/17_boton_politica_on.png'" onmouseout="this.src='/Content/image_estadistica/17_boton_politica_normal.png'" /></a>
                            </diV>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 justify-content-center">
                <div class="col-12">
                    <a class="btn btn-primary mb-3 mr-1" href="#carousel2" role="button" data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-primary mb-3 " href="#carousel2" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>*@
            <div class="row mt-5 text-center  d-flex justify-content-center">
                <p style="color:#fff;font-size:24px;">
                    Transforma estos datos sectoriales en una increíble experiencia digital
                </p>
                <h3 class="mb-2" style="color:#fff;">
                    ¡Explora, busca y encuentra!
                </h3>
                <div class="col-md-3 col-6 mt-5"><img class="img-fluid" src="~/Content/image_estadistica/logo_DataIntelligence_slogan.png" alt="Alternate Text" /></div>
            </div>
        </div>
        @*<link href="~/Content/normalize.min.css" rel="stylesheet" />*@

        @*icono de fontawesome menu principal *@
        <script src="https://kit.fontawesome.com/2f08016506.js" crossorigin="anonymous"></script>
        @*bootstrap*@

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

        @*Hoja de estilos de esta vista solamente*@
        @*<link href="~/Content/StylePagBusqueda.css" rel="stylesheet" />*@
        @*
        <link href="~/Content/Estilos/info/HomeOdoo.css" rel="stylesheet" />
        *@
        @*Jquery, Popper bootstrap.min.js*@
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        @*Buscador
        <script src="~/Scripts/ScriptBuscador.js"></script>
        *@
        <script>
            function listaDimensiones() {
                var lista = ["Exportaciones", "Precios", "Sector", "Ventas", "Ingresos", "Mercado", "Mayorista", "Evolución", "Variedad", "Volumen", "Feria", "Terminal", "Vega", "Comercial", "Femacal", "Importaciones", "Empleados", "Industria", "Producción    "];
                lista = lista
                    .sort(function () { return Math.random() - 0.5 })
                    .slice(0, 10); // imprime por ejemplo: 7,9,1,5,2,3,6,4,
                $("#economia1").html(lista[0]);;
                $("#economia2").html(lista[1]);;
                $("#economia3").html(lista[2]);;
                $("#economia4").html(lista[3]);;
                $("#economia5").html(lista[4]);;
                $("#economia6").html(lista[5]);;
                $("#economia7").html(lista[6]);;
                $("#economia8").html(lista[7]);;
                $("#economia9").html(lista[8]);;
                $("#economia10").html(lista[9]);;
                $("#economia1").attr("href", "/info/PaginaBusqueda?id=" + lista[0]);
                $("#economia2").attr("href", "/info/PaginaBusqueda?id=" + lista[1]);
                $("#economia3").attr("href", "/info/PaginaBusqueda?id=" + lista[2]);
                $("#economia4").attr("href", "/info/PaginaBusqueda?id=" + lista[3]);
                $("#economia5").attr("href", "/info/PaginaBusqueda?id=" + lista[4]);
                $("#economia6").attr("href", "/info/PaginaBusqueda?id=" + lista[5]);
                $("#economia7").attr("href", "/info/PaginaBusqueda?id=" + lista[6]);
                $("#economia8").attr("href", "/info/PaginaBusqueda?id=" + lista[7]);
                $("#economia9").attr("href", "/info/PaginaBusqueda?id=" + lista[8]);
                $("#economia10").attr("href", "/info/PaginaBusqueda?id=" + lista[9]);
            }
            listaDimensiones();
        </script>

        <script>
            function listaDimensiones2() {
                var lista = ["Agrícola", "Berries", "Cítricos", "Hortalizas", "Cultivos", "Semillas", "Flores", "Variedad", "Cosecha", "Provincia", "Legumbres", "Frutícola", "Oleaginosas", "Cereales", "Tubérculos", "Tropicales", "Frutos", "Aceites", "Congelados", "Conservas", "Deshidratados", "Jugos", "Región", "Industrial"];
                lista = lista
                    .sort(function () { return Math.random() - 0.5 })
                    .slice(0, 10); // imprime por ejemplo: 7,9,1,5,2,3,6,4,
                $("#ambiental1").html(lista[0]);;
                $("#ambiental2").html(lista[1]);;
                $("#ambiental3").html(lista[2]);;
                $("#ambiental4").html(lista[3]);;
                $("#ambiental5").html(lista[4]);;
                $("#ambiental6").html(lista[5]);;
                $("#ambiental7").html(lista[6]);;
                $("#ambiental8").html(lista[7]);;
                $("#ambiental9").html(lista[8]);;
                $("#ambiental10").html(lista[9]);;
                $("#ambiental1").attr("href", "/info/PaginaBusqueda?id=" + lista[0]);
                $("#ambiental2").attr("href", "/info/PaginaBusqueda?id=" + lista[1]);
                $("#ambiental3").attr("href", "/info/PaginaBusqueda?id=" + lista[2]);
                $("#ambiental4").attr("href", "/info/PaginaBusqueda?id=" + lista[3]);
                $("#ambiental5").attr("href", "/info/PaginaBusqueda?id=" + lista[4]);
                $("#ambiental6").attr("href", "/info/PaginaBusqueda?id=" + lista[5]);
                $("#ambiental7").attr("href", "/info/PaginaBusqueda?id=" + lista[6]);
                $("#ambiental8").attr("href", "/info/PaginaBusqueda?id=" + lista[7]);
                $("#ambiental9").attr("href", "/info/PaginaBusqueda?id=" + lista[8]);
                $("#ambiental10").attr("href", "/info/PaginaBusqueda?id=" + lista[9]);
            }
            listaDimensiones2();
        </script>
        <script>
            function listaDimensiones3() {
                var lista = ["Ingresos", "Pobreza", "Educación", "Vivienda", "Salud", "Municipio", "Delitos", "Mujer", "Hombre", "Evolución", "Etnia", "Violencia", "Femicidio", "Aprehensiones", "COVID", "Víctima", "Ministerio"];
                lista = lista
                    .sort(function () { return Math.random() - 0.5 })
                    .slice(0, 10); // imprime por ejemplo: 7,9,1,5,2,3,6,4,
                $("#social1").html(lista[0]);;
                $("#social2").html(lista[1]);;
                $("#social3").html(lista[2]);;
                $("#social4").html(lista[3]);;
                $("#social5").html(lista[4]);;
                $("#social6").html(lista[5]);;
                $("#social7").html(lista[6]);;
                $("#social8").html(lista[7]);;
                $("#social9").html(lista[8]);;
                $("#social10").html(lista[9]);;
                $("#social1").attr("href", "/info/PaginaBusqueda?id=" + lista[0]);
                $("#social2").attr("href", "/info/PaginaBusqueda?id=" + lista[1]);
                $("#social3").attr("href", "/info/PaginaBusqueda?id=" + lista[2]);
                $("#social4").attr("href", "/info/PaginaBusqueda?id=" + lista[3]);
                $("#social5").attr("href", "/info/PaginaBusqueda?id=" + lista[4]);
                $("#social6").attr("href", "/info/PaginaBusqueda?id=" + lista[5]);
                $("#social7").attr("href", "/info/PaginaBusqueda?id=" + lista[6]);
                $("#social8").attr("href", "/info/PaginaBusqueda?id=" + lista[7]);
                $("#social9").attr("href", "/info/PaginaBusqueda?id=" + lista[8]);
                $("#social10").attr("href", "/info/PaginaBusqueda?id=" + lista[9]);
            }
            listaDimensiones3();
        </script>
        <script>
            function listaDimensiones4() {
                var lista = ["Municipio", "Municipalidad", "Región", "Comuna", "Política", "Elecciones", "Participación", "Liderazgo", "Alcaldes", "Fiscal", "Diputados", "Gobernadores", "Servicios", "Ministerio"];
                lista = lista
                    .sort(function () { return Math.random() - 0.5 })
                    .slice(0, 10); // imprime por ejemplo: 7,9,1,5,2,3,6,4,
                $("#institucional1").html(lista[0]);;
                $("#institucional2").html(lista[1]);;
                $("#institucional3").html(lista[2]);;
                $("#institucional4").html(lista[3]);;
                $("#institucional5").html(lista[4]);;
                $("#institucional6").html(lista[5]);;
                $("#institucional7").html(lista[6]);;
                $("#institucional8").html(lista[7]);;
                $("#institucional9").html(lista[8]);;
                $("#institucional10").html(lista[9]);;
                $("#institucional1").attr("href", "/info/PaginaBusqueda?id=" + lista[0]);
                $("#institucional2").attr("href", "/info/PaginaBusqueda?id=" + lista[1]);
                $("#institucional3").attr("href", "/info/PaginaBusqueda?id=" + lista[2]);
                $("#institucional4").attr("href", "/info/PaginaBusqueda?id=" + lista[3]);
                $("#institucional5").attr("href", "/info/PaginaBusqueda?id=" + lista[4]);
                $("#institucional6").attr("href", "/info/PaginaBusqueda?id=" + lista[5]);
                $("#institucional7").attr("href", "/info/PaginaBusqueda?id=" + lista[6]);
                $("#institucional8").attr("href", "/info/PaginaBusqueda?id=" + lista[7]);
                $("#institucional9").attr("href", "/info/PaginaBusqueda?id=" + lista[8]);
                $("#institucional10").attr("href", "/info/PaginaBusqueda?id=" + lista[9]);
            }
            listaDimensiones4();
        </script>
        @Styles.Render("~/Content/HomeOdoo")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")

</body>
</html>
