@*seccion de contenidos*@
<div class="container borrar">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h6 style="font-weight:bold">Información relacionada que te podría interesar</h6>
        </div>
    </div>
</div>
<section class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-md-10" style="background:#fff; border:solid #e6e6e6; border-radius:15px;">
            <div class="row " style="border-bottom: 2px solid #e6e6e6;">
                <div class="col-md-2 col-sm-12 m-3 ">
                    <img style="width:100%;" class="img-fluid rounded mx-auto d-block "
                         src="~/Content/image_UsuarioIndex/icono_graficogratuito_NARANJA.png" alt="Alternate Text" />
                </div>
                <div class="col-md-8 col-sm-12">
                    <a class="link-card" href="/info/Index2?id=@ViewBag.tresRelacionados[0].id" style="text-decoration: none; color: #000;">
                        <p class="m-3">
                            <span style="font-size:1.1rem;"><strong>@ViewBag.tresRelacionados[0].titulo</strong></span> <br />
                            <span style="font-size:0.9rem !important;border:none !important" data-toggle="tooltip" data-placement="top"
                                    title="@ViewBag.tresRelacionados[0].descripcion_larga" class="line-clamp3">
                                @ViewBag.tresRelacionados[0].descripcion_larga
                            </span>
                        </p>
                    </a>
                </div>
            </div>
            <div class="row" style="border-bottom: 2px solid #e6e6e6;">
                <div class="col-md-2 col-sm-12 m-3">
                    <img style="width: 100%;" class="img-fluid rounded mx-auto d-block"
                         src="~/Content/image_UsuarioIndex/icono_graficogratuito_NARANJA.png" alt="Alternate Text" />
                </div>
                <div class="col-md-8 col-sm-12">
                    <a class="link-card" href="/info/Index2?id=@ViewBag.tresRelacionados[1].id" style="text-decoration:none; color:#000;">
                        <p class="m-3">
                            <span style="font-size:1.1rem;"><strong>@ViewBag.tresRelacionados[1].titulo</strong></span> <br />
                            <span style="font-size:0.9rem !important;border:none !important" data-toggle="tooltip" data-placement="top"
                                    title="@ViewBag.tresRelacionados[1].descripcion_larga" class="line-clamp3">
                                @ViewBag.tresRelacionados[1].descripcion_larga
                            </span>
                        </p>
                    </a>
                </div>
            </div>
            <div class="row " style="border-bottom: 2px solid #e6e6e6;">
                <div class="col-md-2 col-sm-12 m-3">
                    <img style="width: 100%;;" class="img-fluid rounded mx-auto d-block "
                         src="~/Content/image_UsuarioIndex/icono_graficogratuito_NARANJA.png" alt="Alternate Text" />
                </div>
                <div class="col-md-8 col-sm-12">
                    <a class="link-card" href="/info/Index2?id=@ViewBag.tresRelacionados[2].id" style="text-decoration: none; color: #000;">
                        <p class="m-3">
                            <span style="font-size:1.1rem;"><strong>@ViewBag.tresRelacionados[2].titulo</strong></span> <br />
                            <span style="font-size:0.9rem !important;border:none !important" data-toggle="tooltip" data-placement="top"
                                    title="@ViewBag.tresRelacionados[2].descripcion_larga" class="line-clamp3">
                                @ViewBag.tresRelacionados[2].descripcion_larga
                            </span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>




