@{

    ViewBag.Title = "Página Resultados";
    Layout = "~/Views/Shared/_LayoutRegion.cshtml";
}
<html>
<head>
    @*fontawesome*@
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2f08016506.js" crossorigin="anonymous"></script>
    <link href="~/Content/Estilos/PaginaBusqueda.css" rel="stylesheet" />
    <link href="~/Content/Home.css" rel="stylesheet" />
    @*estilos*@
    <link href="~/Content/EstilosPopUp.css" rel="stylesheet" />
    <link href="~/Content/StylePagBusqueda.css" rel="stylesheet" />

    @*Titulo de la pagina*@
    <title>Resultados de Busqueda</title>
    @*script para guardar o imprimir grafico*@
    <style>

        a:hover, a:focus {
            text-decoration: none !important;
            outline: none !important;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .ftco-section {
            padding: 7em 0;
        }

        .ftco-no-pt {
            padding-top: 0;
        }

        .ftco-no-pb {
            padding-bottom: 0;
        }

        .heading-section {
            font-size: 28px;
            color: #000;
        }

            .heading-section small {
                font-size: 18px;
            }

        .wrapper {
            width: 100%;
        }

        #sidebar {
            min-width: 60%;
            max-width: 270px;
            color: #fff;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            position: relative;
            z-index: 0;
            /*border-left: 1px solid rgba(0, 0, 0, 0.05);*/
        }

            #sidebar .h6 {
                color: #fff;
            }

            #sidebar.active {
                margin-left: -270px;
            }

            #sidebar ul.components {
                padding: 0;
            }

            #sidebar ul li {
                font-size: 14px;
            }

                #sidebar ul li > ul {
                    margin-left: 10px;
                }

                    #sidebar ul li > ul li {
                        font-size: 13px;
                    }

                        #sidebar ul li > ul li a {
                            /*border-bottom: 1px solid transparent;*/
                        }

                            #sidebar ul li > ul li a span {
                                color: #000;
                            }

                #sidebar ul li a {
                    /* padding: 10px 0;*/
                    display: block;
                    color: black;
                    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05);*/
                }

                    #sidebar ul li a span {
                        color: #fff;
                    }

                #sidebar ul li.active > a {
                    background: transparent;
                    color: #fc7fb2;
                }

        @@media (max-width: 767.98px) {
            #sidebar {
                min-width: 60%;
                max-width: 180px;
                border-left: none;
            }
        }

        #sidebar .custom-menu {
            display: inline-block;
            top: 20px;
            right: 0;
            margin-right: -20px;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
        }

        @@media (prefers-reduced-motion: reduce) {
            #sidebar .custom-menu {
                -webkit-transition: none;
                -o-transition: none;
                transition: none;
            }
        }

        #sidebar .custom-menu .btn.btn-primary:after {
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            background: #fc7fb2;
            border-radius: 10px;
        }

        #sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
            background: transparent !important;
            border-color: transparent !important;
        }

        a[data-toggle="collapse"] {
            position: relative;
        }

        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    </style>

    <script>
        function mostrador(seccion) {
            var arreglo = [
                '#PBuno',
                '#PBdos'
            ];
            //arreglo.forEach
            jQuery.each(arreglo, function (i, val) {
                $(val).hide();
            });
            $(seccion).show();
        }
    </script>
</head>

<body>
    <!--Franja de buscador superior-->
    <div class="container-fluid content1">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="row mt-3 justify-content-center">
                            <div class="col-12 col-md-6 text-center">
                                <h3 id="buscadorRB" style="font-weight:400; color:white; font-size:1.2rem;"><img class="img-fluid" width="30" src="~/Images/favicons/Icono_dataIntelligence_Rojo.png" /><b>BUSCADOR INTELIGENTE</b></h3>
                            </div>
                        </div>
                        <p id="pRB2" style="color:white;"><b>¡Nuestro buscador contiene más de 1 millón de grácos interactivos!</b></p>
                    </div>
                    <!--Buscador-->
                    <div class="col-12 col-md-12 text-center ">
                        <form class="example d-flex" action="~/Agricultura/PaginaBusqueda" method="get">
                            <input type="text" placeholder="Escribe tu tema de interés" name="search">
                            <button type="submit" value="Submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    <div class="col-12 col-md-11 mb-3" style="text-align:left;">
                        <p id="pRB2" style="color:white;">Más buscado:  Forestal, economía, agricultura, género, pesca.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--COMIENZO DE LA SECCION DEL MENU MOVIL-->
    <!--offcanvas es el contenedor del menu movil,
        offcanvas-start para que se ajuste arriba en el comienzo de la pantalla del dispositivo
        w-75 lo que abarca de lo ancho de la panatalla
    -->
    <div class="offcanvas offcanvas-start w-75 d-md-none" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="true" style="overflow:scroll;">
        <style>
            .cancel {
                display: block;
                position: absolute;
                top: 3px;
                right: 2px;
                background: rgb(245,245,245);
                color: black;
                height: 30px;
                width: 35px;
                font-size: 30px;
                text-decoration: none;
                text-align: center;
                font-weight: bold;
            }
        </style>
        <a href="#" class="cancel" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" data-bs-backdrop="false">×</a>
        <div class="col-sm-3 pb-sm-0 pb-3">
            <!--scripts para que funcionen los chechbox filtros-->
            <div class=" col-md-6 col-sm-12 ml-5" style="margin-left:10px; width:fit-content;">
                @*Este script es para hacer el filtro de la tabla*@
                <script>
                    //Funcion para filtrar Territorios a partir de Escala
                    $(document).ready(function () {
                        //Se activa al hacer click sobre cualquier objeto con class "escala"
                        $(".escala").on("click", function () {
                            //se guarda el contenido de la escala seleccionado, por ejemplo "pais"
                            var escalaTerritorial = $(this).val().toLowerCase();
                            //Se guarda el estado del checkbox
                            //true si esta marcado y false de lo contrario
                            var checkTerritorio = $(this).prop("checked");
                            $(".territorio").each(function () {
                                //alert()
                                var checkBox = $(this).find("input").val().toLowerCase();//$(this).find("label").find("input").val().toLowerCase();
                                console.log(checkBox)
                                console.log(checkTerritorio)
                                //console.log(checkBox);
                                console.log(!checkBox.includes(escalaTerritorial))
                                //$(this).hide();
                                if (checkTerritorio) {
                                    if (!checkBox.includes(escalaTerritorial))
                                        $(this).hide();
                                    //console.log("MAL")
                                    else
                                        $(this).show();
                                }
                                else {
                                    $(this).show();
                                }
                            });
                            $(this).show();
                        });
                    });
                    var contador = 0;
                    $(document).ready(function () {
                        $(".name").on("click", function () {
                            contador = 0;
                            name_list = []
                            $("#myTable tr").hide()
                            var flag = 1;
                            var conceptos = [];
                            $("input:checkbox[name=name]:checked").each(function () {
                                flag = 0;
                                var value = $(this).val().toLowerCase();
                                if (!conceptos.includes(value))
                                    conceptos.push(value);
                            });
                            //Fin agregar
                            if (flag == 1) {
                                $("#myTable tr").show();
                                $("#contar").text($("#myTable tr").length + " Resultados");
                            } else {
                                //Agregar
                                const reducer = (accumulator, currentValue) => accumulator && currentValue;
                                $("#myTable tr").filter(function () {
                                    var valor = $(this).text().toLowerCase();
                                    //alert(valor);
                                    var flags = conceptos.map(function (x) {
                                        //alert($(this).text().toLowerCase());
                                        return valor.indexOf(x) > -1
                                    });
                                    if (flags.reduce(reducer)) {
                                        $(this).show();
                                        contador++;
                                    }
                                });
                                /* (contador == 0) ? $("#contar").text(contador + " Resultados - Por favor seleccione una sola opción en cada sección de los filtros.") : $("#contar").text(contador + " Resultados");*/
                                /*$("#contar").text(contador + " Resultados ");*/
                                /*color y textos de los filtros de resulatados de busqueda */
                                if (contador == 0) {
                                    $('#contar').css({ 'color': 'red' });
                                    $("#contar").text(contador + " Resultados - Por favor seleccione una sola opción en cada sección de los filtros.");
                                } else {
                                    $('#contar').css({ 'color': 'black' });
                                    $("#contar").text(contador + " Resultados");
                                }

                            }
                        });

                    });
                </script>
            </div>
            <!--final scripts para que funcionen los checKbox filtros-->
            <!--<!--checkbox filtros PANATALLA MOVIL-->
            <div class=" border rounded-3 p-1  d-block d-sm-block d-md-none" style="background-color: #DBDDE9;">
                <nav id="sidebar">
                    <div class="p-4" style="border:none !important;">

                        <h4 style="color:#000;" class="text-left">FILTROS</h4>
                        <ul class="list-unstyled mb-5 ">
                            <li class="mb-md-3">
                                <a style=" text-decoration:none; padding-right:10px " href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle  flex-shrink-1 ">COLECCIÓN</a>

                                <ul class="collapse list-unstyled pageSubmenu1" id="pageSubmenu1">
                                </ul>
                            </li>
                            <li class="mb-md-3 mt-2">
                                <a style=" text-decoration: none; " href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">SECTOR</a>
                                <ul class="collapse list-unstyled pageSubmenu2" id="pageSubmenu2">
                                </ul>
                            </li>
                            <li class="mb-md-3 mt-2">
                                <a style="text-decoration: none; " href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">TEMA</a>
                                <ul class="collapse list-unstyled pageSubmenu3" id="pageSubmenu3">
                                </ul>
                            </li>
                            <li class="mb-md-3 mt-2">
                                <a style="text-decoration: none; " href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">CONTENIDO</a>
                                <ul class="collapse list-unstyled pageSubmenu4" id="pageSubmenu4">
                                </ul>
                            </li>
                            <li class="mb-md-3 mt-2">
                                <a style="text-decoration: none; "
                                   href="#pageSubmenu6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                    ESCALA
                                </a>
                                <ul class="collapse list-unstyled pageSubmenu6" id="pageSubmenu6">
                                </ul>
                            </li>
                            <li class="mb-md-3 mt-2">
                                <a style=" text-decoration: none; " href="#pageSubmenu7" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">TERRITORIO</a>
                                <ul class="collapse list-unstyled pageSubmenu7" id="pageSubmenu7">
                                </ul>
                            </li>
                            <li class="mb-md-3 mt-2">
                                <a style="text-decoration: none; " href="#pageSubmenu8" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">DETALLE</a>
                                <ul class="collapse list-unstyled pageSubmenu8" id="pageSubmenu8">
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!--Botones limpiar y aplicar filtros para menu movil -->
        <button class="btn btn-success" onClick="ActivarCasilla(this), LimpiarTodo();">Limpiar Filtros</button>
        <button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" data-bs-backdrop="false">Aplicar Filtros</button>
        <!--Botones limpiar y aplicar filtros para menu movil -->
        <!--FIN checkbox filtros PANATALLA MOVIL-->
        <script type="text/javascript">
            function ActivarCasilla(casilla) {
                miscasillas = document.getElementsByTagName('input'); //Rescatamos controles tipo Input
                $("#myTable tr").show();
                $("#contar").text($("#myTable tr").length + " Resultados");
                for (i = 0; i < miscasillas.length; i++) //Ejecutamos y recorremos los controles
                {
                    if (miscasillas[i].type == "checkbox") // Ejecutamos si es una casilla de verificacion
                    {
                        miscasillas[i].checked = false;  //casilla.checked; // Si el input es CheckBox se aplica la funcion ActivarCasilla
                    }
                }
            }
        </script>
    </div>
    <!--FINAL COMIENZO DE LA SECCION DEL MENU MOVIL-->
    @*seccion donde se visualiza los graficos de los resultados de busqueda*@
    <div id="PBdos" style="display:none;">
    </div>
    @*seccion donde se visualiza los graficos de los resultados de busqueda*@
    <!--main menu lateral y resultado de busqueda-->
    <div id="PBuno">
        <!--Boton para hacer visible el menu movil-->
        <div class="container">
            <div class="row">
                <div class="col">
                    <!--boton de menu lateral en movil-->
                    <button class="button btn btn-danger float-end d-sm-flex d-md-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                        <i class="fas fa-filter" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">Filtros</i>
                    </button>
                </div>
            </div>
        </div>
        <!--PANATALLA DESKTOP filtros, resultados de busqueda y modal-->
        <main class="container-fluid pb-3 overflow-auto">
            <div class="row ">
                <!--final Filtros de desktop-->
                <div class="col-sm-3 pb-sm-0 pb-3" style="padding-left:0px !important;">
                    <div class=" border rounded-3 p-1  d-none d-sm-none d-md-block" style="background-color: #DBDDE9;">
                        <nav id="sidebar">

                            <div class="text-left mt-3 p-5" style="border:none !important;">
                                <h4 style="color:#000; margin-left:10px;" class="text-left">FILTROS</h4>
                                @*Boton para borrar los filtros*@
                                <label class="btn btn-sm btn-primary text-center" style=" font-size: 12px; margin: 0px; cursor: pointer; margin-bottom:5%; ">
                                    <input style="display:none;" type="checkbox" onClick="ActivarCasilla(this);" /> Borrar filtros
                                </label>
                                <a class="btn btn-sm btn-primary text-center text-white" style=" font-size: 12px; margin: 0px; cursor: pointer; margin-bottom: 5%; text-decoration: none; " href="~/Agricultura/vertodo">Ver Todo</a>
                                <!--Filtros de desktop-->
                                <ul class="list-unstyled mb-5 mt-md-4 mt-3 ">
                                    <li class="mb-md-3">
                                        <a style=" text-decoration:none;" href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">COLECCIÓN</a>
                                        <ul class="collapse list-unstyled pageSubmenu1" id="pageSubmenu1">
                                        </ul>
                                    </li>
                                    <li class="mb-md-3">
                                        <a style=" text-decoration: none; " href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">SECTOR</a>
                                        <ul class="collapse list-unstyled pageSubmenu2" id="pageSubmenu2">
                                        </ul>
                                    </li>
                                    <li class="mb-md-3">
                                        <a style="text-decoration: none; " href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">TEMA</a>
                                        <ul class="collapse list-unstyled pageSubmenu3" id="pageSubmenu3">
                                        </ul>
                                    </li>
                                    <li class="mb-md-3">
                                        <a style="text-decoration: none; " href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">CONTENIDO</a>
                                        <ul class="collapse list-unstyled pageSubmenu4" id="pageSubmenu4">
                                        </ul>
                                    </li>

                                    <li class="mb-md-3">
                                        <a style="text-decoration: none; " href="#pageSubmenu6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">ESCALA</a>
                                        <ul class="collapse list-unstyled pageSubmenu6" id="pageSubmenu6">
                                        </ul>
                                    </li>
                                    <li class="mb-md-3">
                                        <a style="text-decoration: none; " href="#pageSubmenu7" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                            TERRITORIO
                                        </a>
                                        <ul class="collapse list-unstyled pageSubmenu7" id="pageSubmenu7">
                                        </ul>
                                    </li>
                                    <li class="mb-md-3">
                                        <a style=" text-decoration: none; " href="#pageSubmenu8" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">DETALLE</a>
                                        <ul class="collapse list-unstyled pageSubmenu8" id="pageSubmenu8">
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <!--final Filtros de desktop-->
                <div class="resultadosB col-12 col-md-8 overflow-auto mt-md-5" style="margin-left:50px;">
                    <h3 class="text-center"><b>Resultados de búsqueda</b> </h3>
                    <div class="p-3">

                        @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>*@
                        <script>
                            // Write on keyup event of keyword input element
                            $(document).ready(function () {
                                $("#search").keyup(function () {
                                    _this = this;
                                    // Show only matching TR, hide rest of them
                                    $.each($("#mytable tbody tr"), function () {
                                        if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
                                            $(this).hide();
                                        else
                                            $(this).show();
                                    });
                                });
                            });
                        </script>
                        <script>
                            $(document).ready(function () {
                                var nrows = 0; var nres = 0;
                                $("table tr").each(function () {
                                    nrows++;
                                })
                                $("#nrows").html(nrows);
                                $(".isres").each(function () {
                                    nres++;
                                })
                                $("#nres").html(nres);
                            });
                        </script>

                        <!-- COMIENZO TABLA RESULTADOS -->

                        <h5 id="contar" class="ml-3 mt-3" style="color:black">
                            @*@ViewBag.Resultado.Count resultados*@
                        </h5>

                        <div class="table-responsive" style=" height: 400px; overflow-x: hidden !important; border-radius: 20px !important; ">

                            <table id="mytable" class="table" style=" border:none !important;">

                                <thead id="stud_body" style="border:none;">
                                    <tr style="border:none;">
                                        <th style="border:none;"></th>
                                    </tr>
                                </thead>
                                <tbody id="myTable" class="tablaDatos" style="border: none !important;">
                                    @{ int i = 0; }
                                    @foreach (var item in ViewBag.Resultado)
                                    {
                                        {
                                            i++;
                                        }
                                        <tr>
                                            <td style="border:none !important;">
                                                <div class="row d-flex">
                                                    <div class="col-md-2 col-12">

                                                        <img class="img-fluid" style="width:140px;" src="~/Content/img/iconos_TipoProducto/1.png" />
                                                    </div>
                                                    <div id="test1" class="col-md-8 col-12">
                                                        @*<a href="~/info/index?id=@item.id" style=" cursor: pointer;">*@
                                                        <a href="#" onclick="mostrador('#PBdos'); PBGrafico('@item.id');" style="cursor: pointer; text-decoration: blink; color: black;">
                                                            @item.titulo <br />
                                                            @item.temporalidad
                                                            <p style="display:none;">@item.territorio - @item.escala</p>
                                                            <p style="display:none;">@item.sector </p>
                                                            <p style="display:none;">@item.unidad_medida </p>
                                                            <p style="display:none;">@item.coleccion </p>
                                                            <p style="display:none;">@item.tema </p>
                                                            <p style="display:none;">@item.contenido </p>
                                                            <p style="display:none;">@item.escala </p>
                                                            <p style="display:none;">@item.muestra_temporalidad </p>
                                                        </a>
                                                    </div>

                                                    <div class="col-md-2 col-sm-12">
                                                        <a onclick="mostrador('#PBdos'); PBGrafico('@item.id');" class=" btn btn-danger btn-sm" href="#" style="border-radius: 25px; font-size: 14px; margin: 0px; width: 100%; cursor: pointer;">
                                                            Ver Gráfico
                                                        </a>
                                                    </div>
                                                    <hr />
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!--script1 para la paginacion-->
                            <script type="text/javascript">
                                Paginador = function (divPaginador, tabla, tamPagina) {
                                    this.miDiv = divPaginador; //un DIV donde irán controles de paginación
                                    this.tabla = tabla;           //la tabla a paginar
                                    this.tamPagina = tamPagina; //el tamaño de la página (filas por página)
                                    this.pagActual = 1;         //asumiendo que se parte en página 1
                                    this.paginas = Math.floor((this.tabla.rows.length - 1) / this.tamPagina); //¿?

                                    this.SetPagina = function (num) {
                                        if (num < 0 || num > this.paginas)
                                            return;

                                        this.pagActual = num;
                                        var min = 1 + (this.pagActual - 1) * this.tamPagina;
                                        var max = min + this.tamPagina - 1;

                                        for (var i = 1; i < this.tabla.rows.length; i++) {
                                            if (i < min || i > max)
                                                this.tabla.rows[i].style.display = 'none';
                                            else
                                                this.tabla.rows[i].style.display = '';
                                        }
                                        this.miDiv.firstChild.rows[0].cells[1].innerHTML = this.pagActual;
                                    }

                                    this.Mostrar = function () {
                                        //Crear la tabla
                                        var tblPaginador = document.createElement('table');

                                        //Agregar una fila a la tabla
                                        var fil = tblPaginador.insertRow(tblPaginador.rows.length);

                                        //Como ya tengo mi tabla, puedo agregarla al DIV de los controles
                                        this.miDiv.appendChild(tblPaginador);

                                        //¿y esto por qué?
                                        if (this.tabla.rows.length - 1 > this.paginas * this.tamPagina)
                                            this.paginas = this.paginas + 1;

                                        this.SetPagina(this.pagActual);
                                    }
                                }
                            </script>

                            @*<div class="col-md-2">
                                    <button class="btn-success btn-sm" onclick="Paginacion('@ViewBag.palabra');" style="border-radius: 25px; font-size: 12px; margin-left:20px; margin-bottom:10px; width: 100px; cursor: pointer;">
                                        Ver más
                                    </button>
                                </div>*@
                        </div>
                        <!--FINAL COMIENZO TABLA RESULTADOS -->
                        <!--boton ver mas resultados en el resultado de busqueda-->
                        @*<div class="col-md-2 text-center offset-5" style="margin-top:20px;">
                            <button class="btn-danger btn-sm" onclick="Paginacion('@ViewBag.palabra');" style=" font-size: 12px; cursor: pointer;">
                                Mostrar más
                            </button>
                        </div>*@
                        <!--final boton ver mas resultados en el resultado de busqueda-->
                    </div>
                </div>
            </div>
        </main>
        <!--final filtros y resultados de busqueda-->
    </div>
    <!-- seccion de suscripcion-->
    <div class="container-fluid justify-content-center mt-3  mt-md-5 mb-md-5 mb-3">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 ">
                <p style="color: #1074BC; font-size:1.1rem; font-weight:700; text-align:center;">Si manejas mucha información... ¡Necesitas una cuenta profesional!</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8 content1" style="border-radius:15px; justify-content:center;">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-4 mt-md-4 mt-3">
                        <img class="img-fluid mx-0" src="~/Content/empresas de noticias/logosus.png" />
                    </div>
                    <div class="col-12 col-md-3 mt-md-5 mt-3">
                        <ul class="fa-ul" style="text-align:left; color:white;font-size:0.8rem;">
                            <li><span class="fa-li"><i class="bi bi-check2-square"></i></span>Regional,</li>
                            <li><span class="fa-li"><i class="bi bi-check2-square"></i></span>Región Metropolitana o</li>
                            <li><span class="fa-li"><i class="bi bi-check2-square"></i></span>Nacional</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4 mt-md-5 mt-3 ">
                        <p style="text-align: left; color: white; font-size: 0.8rem;">
                            Contamos con 3 opciones para la Cuenta Profesional:
                            Suscripción Regional, Suscripción Región Metropolitana
                            y Suscripción Nacional.
                        </p>
                    </div>
                    <div class="col-12 col-md-12 mb-md-4 mb-3 mt-4 ">
                        <a class="btn  btn-primary" style="border-radius: 20px; font-size: 0.8rem;" href="#">VER COLECCIONES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--final main menu lateral y resultado de busqueda-->
    <script>
        var index = 1;
        function Paginacion(palabra) {
            var id = "parametros de la funcion";
            //$("#PBdos").html("<h1>Hola</h1>")
            //alert(Grafico)
            $.ajax(
                {
                    type: 'POST',
                    //data: "{'id':" + "'" + Grafico + "'}", //datos o parametros enviados al servidor
                    dataType: 'html', //el tipo de dato que nos regresara el servidor en este caso regresa html
                    url: '/Agricultura/Paginacion?id=' + palabra + '&id2=' + index,
                    //URL del action result que cargara la vista parcial
                    success: function (result) {
                        // si la funcion se ejecuta lanzara un alert
                        /*alert('Success');*/
                        //cuando se ejecuta bien la funcion agregara al div vistaParcial el contenido
                        //que recibio del servidor
                        $(".tablaDatos").append(result);
                        $("#contar").text($("#myTable tr").length + " Resultados")
                    },

                    error: function (error) {
                        // si hay un error lanzara el mensaje de error
                        alert('Fail');
                    }
                });
            index++;
        }
    </script>
    @* preloader imagen precargado  *@
    <style>
        /*Loading page*/
        .jm-loadingpage {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 999999999;
            background: url(../../Content/img/cargando.gif) center no-repeat rgb(0 0 0 / 0.00);
        }
        /*Loading page*/
    </style>
    <div class="jm-loadingpage"></div>
    <script>
        $(document).ready(function () {
            $(".jm-loadingpage").fadeOut("slow");;
        });
    </script>
    @*fin preloader imagen precargado *@

    <style>
        /*Hover contenido de paginaBusqueda contenido para scrollbar*/
        div.table-responsive:hover {
            overflow-y: auto !important;
        }
        /*Scroll de checkbox de filtros*/
        div.side:hover {
            overflow-y: auto !important;
        }
    </style>

    @*script3 para la paginacion y selector de filas*@
    <script>
        var table = '#mytable'
        $('#maxRows').on('change', function () {
            /*alert('Hola');*/
            $('.pagination').html('')
            var trnum = 0;
            var maxRows = parseInt($(this).val())
            var totalRows = $(table + ' tbody tr').length
            $(table + ' tr:gt(0)').each(function () {
                trnum++
                if (trnum > maxRows) {
                    $(this).hide()
                }
                if (trnum <= maxRows) {
                    $(this).show()
                }
            })
            if (totalRows > maxRows) {
                var pagenum = Math.ceil(totalRows / maxRows)
                for (var i = 1; i <= pagenum;) {
                    $('.pagination').append('<li class="btn" data-page="' + i + '">\<span>' + i++ + '<span class="page-item  sr-only">(current)</span></span>\</li>').show()
                }
            }

            $('.pagination li:first-child').addClass('active')
            $('.pagination li').on('click', function () {
                var pageNum = $(this).attr('date-page')
                var trIndex = 0;
                $('.pagination li').removeClass('active')
                $(this).addClass('active')
                $(table + ' tr:gt(0)').each(function () {
                    trIndex++
                    if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                        $(this).hide()
                    } else {
                        $(this).show()
                    }

                })
            })
        })
        @*
        $(function () {
            $('table tr:eq(0)').prepend('<th>ID</th>')
            var id = 0;
            $('table tr:gt(0)').each(function () {
                id++
                $(this).prepend('<td>' + id + '</td>')
            })
        })
        *@
    </script>
    <script>
        function PBGrafico(Grafico) {
            var id = "parametros de la funcion";
            $('#PBdos').html('<h2>Cargando Información...espere un momento por favor</h2>')

            //$("#PBdos").html("<h1>Hola</h1>")
            //alert(Grafico)
            $.ajax(
                {
                    type: 'POST',
                    data: "{'id':" + "'" + Grafico + "'}", //datos o parametros enviados al servidor
                    dataType: 'html', //el tipo de dato que nos regresara el servidor en este caso regresa html
                    url: '/Agricultura/VisualizarGraficos?id=' + Grafico,
                    //URL del action result que cargara la vista parcial
                    success: function (result) {
                        // si la funcion se ejecuta lanzara un alert
                        /*alert('Success');*/
                        //cuando se ejecuta bien la funcion agregara al div vistaParcial el contenido
                        //que recibio del servidor
                        $("#PBdos").html(result);
                    },

                    error: function (error) {
                        // si hay un error lanzara el mensaje de error
                        $("#PBdos").html('<h2>No pudimos encontrar tu Gráfico, pero a la brevedad estara disponible.</h2>');

                    }

                });

        }

        function PBGrafico2(id) {

            $('#PBcuatro').html('<h2>Cargando Información...espere un momento por favor</h2>')
            //$("#PBdos").html("<h1>Hola</h1>")
            //alert(Grafico)
            $.ajax(
                {
                    type: 'POST',
                    data: "{'id':" + "'" + id + "'}", //datos o parametros enviados al servidor
                    dataType: 'html', //el tipo de dato que nos regresara el servidor en este caso regresa html
                    url: '/Agricultura/ContenidoGrafico?id=' + id,
                    //URL del action result que cargara la vista parcial
                    success: function (result) {
                        // si la funcion se ejecuta lanzara un alert
                        /*alert('Success');*/
                        //cuando se ejecuta bien la funcion agregara al div vistaParcial el contenido
                        //que recibio del servidor
                        $("#PBcuatro").html(result);
                    },

                    error: function (error) {
                        // si hay un error lanzara el mensaje de error
                        //alert('Fail PBGrafico2 ContenidoGrafico');
                        $("#PBcuatro").html('<h2>Aun estamos trabajando en mostrar más información sobre este tema.</h2>');
                    }
                });

        }
        function PBGrafico3(id) {

            $('#PBcinco').html('<h2>Cargando Información...espere un momento por favor</h2>')
            //$("#PBdos").html("<h1>Hola</h1>")
            //alert(Grafico)
            $.ajax(
                {
                    type: 'POST',
                    data: "{'id':" + "'" + id + "'}", //datos o parametros enviados al servidor
                    dataType: 'html', //el tipo de dato que nos regresara el servidor en este caso regresa html
                    url: '/Agricultura/CarrucelBusqueda?id=' + id,
                    //URL del action result que cargara la vista parcial
                    success: function (result) {
                        // si la funcion se ejecuta lanzara un alert
                        /*alert('Success');*/
                        //cuando se ejecuta bien la funcion agregara al div vistaParcial el contenido
                        //que recibio del servidor
                        $("#PBcinco").html(result);
                    },

                    error: function (error) {
                        // si hay un error lanzara el mensaje de error
                        //alert('Fail PBGrafico3  CarrucelBusqueda');
                        $("#PBcinco").html('<h2>No hemos encontrado gráficos relacionados</h2>');
                    }
                });
        }
    </script>

    @*Jquery, Popper bootstrap.min.js*@
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="~/Scripts/Usuario/PaginaBusqueda.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    @*este script va con la funcion de cargar el gif en la seccion siete*@
    <script>
        $("#contar").text("@i  resultados");
    </script>
    <script>
        function FiltrarII() {
            $("#Informe_Interactivo").prop("checked", true);
            contador = 0;
            name_list = []
            $("#myTable tr").hide()
            var flag = 1
            $("input:checkbox[name=name]:checked").each(function () {
                flag = 0;
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    if ($(this).text().toLowerCase().indexOf(value) > -1) {
                        $(this).show();
                        contador++;
                    }
                });
                $("#contar").text(contador + " Resultados");

            });
        }
        function FiltrarReporte360() {

            $("#Reporte_360").prop("checked", true);
            if ($("#Reporte_360").length == 0)
                $("#Informe_Interactivo").prop("checked", true);
            contador = 0;
            name_list = []
            $("#myTable tr").hide()
            var flag = 1
            $("input:checkbox[name=name]:checked").each(function () {
                flag = 0;
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    if ($(this).text().toLowerCase().indexOf(value) > -1) {
                        $(this).show();
                        contador++;
                    }
                });
                $("#contar").text(contador + " Resultados");
                if ($("#Reporte_360").length == 0)
                    $("#contar").text("No pudimos encontrar Reportes 360° pero aqui tienes " + contador + " Informes Interactivos");
            });
        }
    </script>
    <script type="text/javascript">
        function ActivarCasilla(casilla) {
            miscasillas = document.getElementsByTagName('input'); //Rescatamos controles tipo Input
            $("#myTable tr").show();
            $("#contar").text($("#myTable tr").length + " Resultados");
            for (i = 0; i < miscasillas.length; i++) //Ejecutamos y recorremos los controles
            {
                if (miscasillas[i].type == "checkbox") // Ejecutamos si es una casilla de verificacion
                {
                    miscasillas[i].checked = false;  //casilla.checked; // Si el input es CheckBox se aplica la funcion ActivarCasilla
                }
            }
            $(".territorio").each(function () {
                $(this).show();
            });
            $(".escala").each(function () {
                $(this).show();
            });
        }
    </script>
    <script type="text/javascript">

        var raw = @Html.Raw(Json.Encode(ViewBag.JResultado));
        MostrarFiltros(raw);
    </script>
    <script>
        ActivarMenuSuperior4("#public_estadisticas")
    </script>
</body>
</html>