@*@{
    Layout = "~/Views/Shared/_LayoutEnfermedades_Mundiales.cshtml";
}*@
<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">*@
    <title>Visualizador Graficos</title>
</head>
<body>
    <script>
        $(document).ready(function () {
            $('html').animate({ scrollTop: 0 }, 'slow'); // para IE, FF
            $('body').animate({ scrollTop: 0 }, 'slow'); // Para Chrome
        });
    </script>

    <div class="container" id="btnAtras">
        @*boton para ir atras*@
        <div class="container">
            <div class="row justify-content-center  mt-2">
                <div class="col-12 col-md-8">
                    <div class="row justify-content-between">
                        <div class="col-12 col-md-2 mt-2 text-center">
                            <a class="btn btn-primary btn-sm " style="font-size: 14px; margin: 0px; width: 100px; cursor: pointer" onclick="mostrador('#EMuno')" href="#"> Volver Atrás</a>
                        </div>

                        <div class="col-12 col-md-4 text-center">
                            <div class="row mt-1 ">
                                <div class="col-12 col-md-12 mt-2">
                                    <form action="~/Agricultura/PaginaBusqueda" method="get">
                                        <input type="text" id="id" name="id" placeholder="Búsqueda de palabras claves" style="width:78%; padding: 6px; border: 1px solid #1774B9; border-top-left-radius: 3px; border-bottom-left-radius: 3px; font-size: 0.8rem;">
                                        <button style="width:20%;" id="search-button" href="~/Agricultura/PaginaBusqueda" type="submit" value="Submit" class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </form>
                                </div>

                            </div>

                        </div>
                       
                    </div>
                </div>

            </div>
            <div class="row justify-content-center">
                <style>
                    .breadcrumb-item + .breadcrumb-item::before {
                        content: "∙";
                    }
                </style>
                <div class="col-12 col-md-8 ">

                    <nav aria-label="breadcrumb" class="mt-2">
                        <ol class="breadcrumb" style="background-color:transparent;">
                            <li class="breadcrumb-item"><a href="#!" style="text-decoration:none; color:#000;">Sugerencia:</a></li>
                            <li class="breadcrumb-item">
                                <a href="/Agricultura/PaginaBusqueda2?id=@ViewBag.Elemento.coleccion&id2=1">
                                    @ViewBag.Elemento.coleccion
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/Agricultura/PaginaBusqueda2?id=@ViewBag.Elemento.sector&id2=2">
                                    @ViewBag.Elemento.sector
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/Agricultura/PaginaBusqueda2?id=@ViewBag.Elemento.tema&id2=3">
                                    @ViewBag.Elemento.tema
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/Agricultura/PaginaBusqueda2?id=@ViewBag.Elemento.contenido&id2=4">
                                    @ViewBag.Elemento.contenido
                                </a>
                            </li>
                            @*<li class="breadcrumb-item active" aria-current="page">@ViewBag.Elemento.titulo</li>*@
                        </ol>
                    </nav>
                </div>

            </div>
            <div class="row justify-content-center mt-1">
                <div class="col-12 col-md-8 text-center ">
                    <h5 class="mt-3" style="color:#000; font-size:120%;"><strong>@ViewBag.Elemento.titulo</strong></h5>
                </div>
            </div>

        </div>
        @*seccion iframe grafico*@
        <section class="contenedor row mr-md-2 justify-content-center">
            <main class="col-11 col-md-10 mt-2 " style="border:1px solid #e6e6e6; border-radius:10px; max-height:610px !important;">
                <!--Iframe de grafico-->
                <div>
                    <iframe id="Imprimeme" class="pruebarara" style="width:100%; height:490px; margin-top:5% !important;" src="@ViewBag.Elemento.url">
                        @*<iframe id="Imprimeme" class="pruebarara" style="width:100%; height:490px; margin-top:5% !important;" src="https://analytics.zoho.com/open-view/2395394000000943308?ZOHO_CRITERIA=%22Trasposicion_4.1%22.%22C%C3%B3digo_Regi%C3%B3n%22%20%3D%201">*@
                    </iframe>
                </div>
                <div class="row quitarespacio2 justify-content-center" style="color:blue; font-size:10px;">
                    @*Logo de DATA INTELLIGENCE PIE DEL IFRAME*@
                    <div class="col-12 col-md-12">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-5 mb-1 p-1">
                                <img class="img-fluid " src="~/Content/img/logosDataIntelligence_creadopor.png" alt="Logo transparente" />
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>
        <section class="container">
            <style>
                @@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

                *, *:before, *:after {
                    box-sizing: border-box;
                    padding: 0;
                    margin: 0;
                    /*font: 300 1em/1.5 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
                    text-decoration: none;
                    /* color: #111;*/
                }

                /* html, body{background: rgb(236, 240, 241);}

                                  section.container{
                                    min-width: 500px;
                                    margin: 10% auto;
                                    text-align: center;
                                  }*/
                a:hover {
                    border-bottom: 1px solid #111;
                }

                /* h1 {
                                    font-size: 2em;
                                    padding: 20px 0;
                                }
                */
                /* p {
                                    font-size: .75em;
                                    text-transform: uppercase;
                                    letter-spacing: 2px;
                                    padding: 20px 0;
                                }*/

                button:hover {
                    cursor: pointer
                }

                button {
                    background: transparent;
                    outline: none;
                    position: relative;
                    /* border: 2px solid #111;*/
                    padding: 10px 20px;
                    overflow: hidden;
                    border-radius: 5px;
                    width: 100%;
                }

                    /*button:before (attr data-hover)*/
                    button:hover:before {
                        opacity: 1;
                        -webkit-transform: translate(0,0);
                        transform: translate(0,0);
                    }

                    button:before {
                        content: attr(data-hover);
                        position: absolute;
                        /*top: 1.1em;*/
                        left: 0;
                        width: 100%;
                        text-transform: uppercase;
                        /*letter-spacing: 3px;*/
                        font-weight: 800;
                        font-size: .6em;
                        opacity: 0;
                        -webkit-transform: translate(-100%,0);
                        transform: translate(-100%,0);
                        -webkit-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                    }
                    /*button div (button text before hover)*/
                    button:hover div {
                        opacity: 0;
                        -webkit-transform: translate(100%,0);
                        transform: translate(100%,0)
                    }

                    button div {
                        text-transform: uppercase;
                        /*letter-spacing: 3px;*/
                        font-weight: 800;
                        font-size: .6em;
                        -webkit-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                    }
            </style>

            <div class="row mt-3 justify-content-around d-none d-md-flex ">
                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="col-md-2 col-6 text-center">
                            <button class="btn-dark" data-hover="Colección"><div>@ViewBag.Elemento.coleccion</div></button>

                        </div>
                        <div class="col-md-2 col-6 text-center">
                            <button class="btn-danger" data-hover="Sector"><div>@ViewBag.Elemento.sector</div></button>

                        </div>
                        <div class="col-md-2 col-6 text-center">
                            <button class="btn-info" data-hover="Escala"><div>@ViewBag.Elemento.escala</div></button>

                        </div>
                        <div class="col-md-2 col-6 text-center">
                            <button class="btn-light" data-hover="Territorio">
                                <div>

                                    @ViewBag.Elemento.territorio
                                </div>
                            </button>

                        </div>

                        <div class="col-md-2 col-6 text-center">
                            <button class="btn-secondary" data-hover="Tema"><div>@ViewBag.Elemento.tema</div></button>

                        </div>
                        <div class="col-md-2 col-6 text-center">
                            <button class="btn-success" data-hover="Temporalidad"><div>@ViewBag.Elemento.temporalidad</div></button>

                        </div>

                    </div>

                </div>
            </div>
        </section>
        @*Seccion oculta de las informacion*@
        @*estilos para acortar texto de la descripcion larga a 10 reglones*@
        @*<section class="container-main mb-5 borrar" id="leerMas" style="display:none; background:#fff;">*@
        <section class="container-main mb-5 mt-3 borrar" style="background:#fff;">
            <style>
                .line-clamp2 {
                    display: -webkit-box;
                    -webkit-line-clamp: 10;
                    -webkit-box-orient: vertical;
                    overflow-wrap: normal;
                    overflow-y: hidden;
                    width: 98%;
                    margin: auto;
                    font-family: sans-serif;
                    line-height: 1.4;
                }

                    .line-clamp2:hover {
                        -webkit-line-clamp: 100;
                        cursor: pointer;
                    }
            </style>
            <div class="row justify-content-center">
                <div class="col-11 col-md-10 " style="border:2px solid #e6e6e6; border-radius:15px; ">
                    <div class="row">
                        <div class="col-12 col-md-4  mt-3" style="border-right:0.5px solid #e6e6e6; white-space:normal;">
                            <p style="margin-bottom:0px !important; " class='line-clamp2'><strong>Descripción:</strong> @ViewBag.Elemento.descripcion_larga</p> 
                        </div>
                        <div class="col-12 col-md-3  mt-3 mt-md-0" style="border-right: 0.5px solid #e6e6e6; white-space: normal;">
                            <p class="mt-md-3 mb-md-0"><strong>Fuente de Datos:</strong> @ViewBag.Elemento.fuente</p>
              

                            <p class="mb-md-1 d-block d-md-none">
                                <strong>Colección: </strong>

                                @ViewBag.Elemento.coleccion
                            </p>
                            <p class="mb-md-1 d-block d-md-none">
                                <strong>Sector: </strong>

                                @ViewBag.Elemento.sector
                            </p>
                            <p class="mb-md-1 d-block d-md-none">
                                <strong>Periodo: </strong>

                                @ViewBag.Elemento.temporalidad
                            </p>
                            <p class="mb-md-1 d-block d-md-none">
                                <strong>@ViewBag.Elemento.escala:</strong>

                                @ViewBag.Elemento.territorio

                            </p>
                            <p class="mb-md-1 d-block d-md-none">
                                <strong>Territorio:</strong>
                                @ViewBag.Elemento.pais
                            </p>

                            <p class="mb-md-1 d-block d-md-none">
                                <strong>Tema:</strong>
                                @ViewBag.Elemento.tema
                            </p>
                            <p class="mb-md-1" style="white-space: normal;"><Strong>Unidad de Medida:</Strong>@ViewBag.Elemento.unidad_medida</p>
                            
                        </div>

                        <div class="col-12 col-md-5 ">
                            <p class="mt-md-3"><strong>Ver más información</strong></p>
                            <div class="row justify-content-start mb-md-3">
                                @*estilos para cortar los tags en 3 filas y ocultar los demas con la clase line-clamp *@
                                <style>
                                    .line-clamp {
                                        display: -webkit-box;
                                        -webkit-line-clamp: 3;
                                        -webkit-box-orient: vertical;
                                        overflow-wrap: normal;
                                        overflow-y: hidden;
                                        width: 98%;
                                        margin: auto;
                                        font-family: sans-serif;
                                        line-height: 1.4;
                                    }

                                        .line-clamp:hover {
                                            -webkit-line-clamp: 100;
                                            cursor: pointer;
                                        }
                                </style>
                                <div class="row justify-content-start">
                                    <div class="col-12 col-md-12">
                                        <p class="mt-md-3 mb-md-1 mb-0"><strong>Tags:</strong></p>
                                        <p id="tagsGrafico" class="line-clamp mb-3 mb-md-0">@ViewBag.Elemento.tag</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </div>
    <!--Script de ocultar texto-->
    @*<script src="~/Scripts/OcultarBoton.js"></script>*@

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script>
        $(".line-clamp").text($(".line-clamp").text().split(",").join(", "));
        function construirEstructura(Concepto) {
            Concepto = Concepto.trim();
            return '<a href="/Agricultura/PaginaBusqueda?id=' + Concepto + '">' + Concepto + '</a>';

        }
        //var lista = [1, 2, 3, 4]
        //lista.map(alert);
        function estructura() {
            // En esta linea, se transforma el texto del elemento #Gustavo en una lista separando el String por ,
            var lista = $("#tagsGrafico").text().split(",") //["hola1", "hola2", "hola3"]
            // A cada elemento de la lista se le aplioca la funcion construirEstructura
            // La funcion construirEstructura toma un elemento y devuelve un elemento link (en este caso <a>)
            var listaEstructurada = lista.map(construirEstructura)
            // Esta variable vuelve a unir toda la lista en un solo String
            var salida = listaEstructurada.join(", ")
            // Setea el contenido del elemento #Gustavo con el String creado anteriormente
            $("#tagsGrafico").html(salida)
            return salida;
        }
        estructura();
    </script>

</body>
</html>

