<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DI Violencia contra la mujer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="~/Images/suscripciones/D360_ENFERMEDADES_MUNDIALES.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/Content/LayoutLog.css" rel="stylesheet" />
    <script>
        function ActivarMenuSuperior(opcionMenu) {
            $('.active25').removeClass('active25');
            $(opcionMenu).addClass("active25");
        }
    </script>
    <style>
        /*.nav-link {
            color: #D9FFFF !important;
        }

        .nav-item > a:hover {
            color: !important;
        }*/

        /*code to change background color*/
        /* .navbar-nav > li > .active2 {
            background-color: #C0C0C0 !important;
            color: green !important;
        }*/
        .navbar-nav > li > .active25 {
            border-top: 4px solid #fff !important;
            border-bottom: 4px solid #fff !important;
            padding: 15px 0 !important;
            background-color: #1774B9 !important;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163367570-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-163367570-6');
    </script>
</head>
<body >
    <!--seccion navbar menu principal-->
    <nav class="navbar navbar-expand-lg navbar navbar-dark navbarLog sticky-top">
        <!--seccion logo navbar -->
        <div class="container-fluid justify-content-center">
            <div class="navbar-brand content-logo" style="border-right: 1px solid #D9FFFF">
                <img class="img-fluid" src="~/Content/img/blanco-trans.png" alt="Logo DI"/>
            </div>
            <div class="navbar-brand content-logo" style="display:flex; cursor:default;">
                <img id="logoNav" class="img-fluid mx-0" style="width:30%;" src="~/Images/simbolossolos_botones/simbolo_coleccion_violenciacontralamujer.png" />
                <ul style="list-style:none; font-size:0.8rem; margin:auto; padding-left:0px !important;">
                    <li>Violencia contra la mujer</li>
                    <li style="white-space: pre-line !important; ">@ViewBag.NombreSuscripcion</li>
                </ul>
                <button style="width:20% !important;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
           
           
            <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
                <ul class="navbar-nav mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a id="Violencia_ContenidoColeccion" class="nav-link text-center" aria-current="page" href="~/Violencia_contra_la_mujer/ContenidoColección" tabindex="-1" aria-disabled="true" style="color:#fff;">CONTENIDO</a>
                    </li>
                    <li class="nav-item float-md-right">
                        <a id="Violencia_UsuarioGrafico" class="nav-link active25 text-center" aria-current="page" href="~/Violencia_contra_la_mujer/Data_UsuarioGrafico" style="color:#fff;">GRAFICOS</a>
                    </li>

                    <li class="nav-item">
                        <a id="Violencia_FuentesUsuario" class="nav-link text-center" aria-current="page" href="~/Violencia_contra_la_mujer/FuentesUsuario" tabindex="-1" aria-disabled="true" style="color:#fff;">FUENTE</a>
                    </li>
                    <li class="nav-item">
                        <a id="Violencia_RecursosUsuario" class="nav-link text-center" aria-current="page" href="~/Violencia_contra_la_mujer/Recursos_Usuario" tabindex="-1" aria-disabled="true" style="color:#fff;">RECURSOS</a>
                    </li>
                    <li class="nav-item" style="border-left: 1px solid #D9FFFF">

                        <a id="Enfermedades_Suscripciones" class="nav-link text-center" aria-current="page" href="~/Data_Usuario/Suscripciones" tabindex="-1" aria-disabled="true" style="color:#fff;">MIS SUSCRIPCIONES</a>


                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
   
    @RenderBody()
    @*<div class="container body-content">

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>*@
    <!--seccion Footer -->
    <footer class="bg-dark text-center text-white" style="bottom: 0 !important; position: relative;">
        <!-- Grid container -->
        <div class="container-fluid p-4">
            <!-- Section: Social media -->
            <!--<section class="mb-4">-->
            <!-- Facebook -->
            <!--<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>-->
            <!-- Twitter -->
            <!--<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-twitter"></i>
            </a>-->
            <!-- Google -->
            <!--<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-google"></i>
            </a>-->
            <!-- Instagram -->
            <!--<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-instagram"></i>
            </a>-->
            <!-- Linkedin -->
            <!--<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-linkedin-in"></i>
            </a>-->
            <!-- Github -->
            <!--<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-github"></i>
                </a>
            </section>-->
            <!-- Section: Social media -->
            <!-- Section: Form -->
            <!--<section class="">
                <form action="">-->
            <!--Grid row-->
            <!--<div class="row d-flex justify-content-center">-->
            <!--Grid column-->
            <!--<div class="col-auto">
                <p class="pt-2">
                    <strong>Sign up for our newsletter</strong>
                </p>
            </div>-->
            <!--Grid column-->
            <!--Grid column-->
            <!--<div class="col-md-5 col-12">-->
            <!-- Email input -->
            <!--<div class="form-outline form-white mb-4">
                    <input type="email" id="form5Example2" class="form-control" />
                    <label class="form-label" for="form5Example2">Email address</label>
                </div>
            </div>-->
            <!--Grid column-->
            <!--Grid column-->
            <!--<div class="col-auto">-->
            <!-- Submit button -->
            <!--<button type="submit" class="btn btn-outline-light mb-4">
                    Subscribe
                </button>
            </div>-->
            <!--Grid column-->
            <!--</div>-->
            <!--Grid row-->
            <!--</form>
            </section>-->
            <!-- Section: Form -->
            <!-- Section: Text -->
            @*<section class="mb-4">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                        eum harum corrupti dicta, aliquam sequi voluptate quas.
                    </p>
                </section>*@
            <!-- Section: Text -->
            <!-- Section: Links -->
            <section class="">
                <!--Grid row logo de empresa-->
                <div class="row justify-content-center">
                    <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                        <img class="img-fluid" style="z-index:100;" src="~/Images/logo_dataintelligence_blanco.png" alt="Logo DI"/>
                    </div>
                    <!--Grid column-->
                    <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mt-md-2" style="font-size:1rem;">DATA INTELLIGENCE</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="~/Violencia_contra_la_mujer/Empleo" class="text-white" style="text-decoration:none;">Empleo</a>
                            </li>
                            <li>
                                <a href="~/Violencia_contra_la_mujer/Inversion" class="text-white" style="text-decoration:none;">Inversión</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mt-md-2" style="font-size:1rem;">ASISTENCIA</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="~/Violencia_contra_la_mujer/FAQ" class="text-white" style="text-decoration:none;">Preguntas Frecuentes</a>
                            </li>
                            <li>
                                <a href="~/Violencia_contra_la_mujer/TerminosyCondiciones" class="text-white" style="text-decoration:none;">Términos y condiciones</a>
                            </li>
                            <li>
                                <a href="~/Violencia_contra_la_mujer/soporte" class="text-white" style="text-decoration:none;">Soporte</a>
                            </li>
                            <li>
                                <a href="~/Violencia_contra_la_mujer/VentasCorporativas" class="text-white" style="text-decoration:none;">Ventas Coorporativas</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <!--<div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mt-md-2" style="font-size:1rem;">NEWSLETTER</h5>
        <p>
            ¿Quieres recibir nuestro Newsletter?
            Envíanos tu correo y te informaremos lo nuevo de Data Intelligence.
        </p>
        <form action="">
            <!--Grid row-->
                    <!--<div class="row d-block justify-content-center">-->
                    <!--Grid column-->
                    <!--@*<div class="col-auto">
            <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
            </p>
        </div>*@-->
                    <!--<!--Grid column-->
                    <!--Grid column-->
                    <!--<div class="col-md-5 col-12" style="width:100% !important;">-->
                    <!-- Email input -->
                    <!--<div class="form-outline form-white mb-4" style="justify-content:left !important;">
        <input type="email" id="form5Example2" class="form-control" />
        <button type="submit" class="btn btn-outline-light btn-sm mt-md-2" style="float:left !important;">
            Subscribe
        </button>-->
                    @*<label class="form-label" for="form5Example2">Email address</label>*@
                    @*</div>
        </div>-->*@
                    <!--Grid column-->
                    <!--Grid column-->
                    <!--<div class="col-auto">-->
                    <!-- Submit button -->
                    <!--<button type="submit" class="btn btn-outline-light btn-sm mb-4">
            Subscribe
        </button>
    </div>-->
                    <!--Grid column-->
                    <!--</div>-->
                    <!--Grid row-->
                    <!--</form>
    </div>-->
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
                        <h5 class="text-uppercase mt-md-2" style="font-size:1rem;">SÍGUENOS</h5>
                        <section class="mb-4">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.facebook.com/dataintelligencecl/" role="button">
                                <i class="fab fa-facebook-f"></i>
                            </a>

                            <!-- Twitter -->
                            <a class="btn btn-outline-light btn-floating " target="_blank" href="https://twitter.com/data_int" role="button">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.instagram.com/data.intelligence/" role="button">
                                <i class="fab fa-instagram"></i>
                            </a>

                            <!-- Linkedin -->
                            <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.linkedin.com/in/data-intelligence-5916b41a5/" role="button">
                                <i class="fab fa-linkedin-in"></i>
                            </a>

                            <!-- Youtube -->
                            <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.youtube.com/channel/UCXo5Vhu65cOl3OcwWF9wLUA" role="button">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <!-- Pinterest -->
                            <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.pinterest.cl/dataintelligencechile/_created/" role="button">
                                <i class="fab fa-pinterest"></i>
                            </a>

                        </section>

                        @*<ul class="list-unstyled mb-0">
                <li>
                    <a href="#!" class="text-white">Link 1</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Link 2</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Link 3</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Link 4</a>
                </li>
            </ul>*@
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://www.dataintelligence-group.com/">dataintelligence-group.com</a>
        </div>
        <!-- Copyright -->
    </footer>


    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

    <!-- Footer -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
