<!DOCTYPE html>

<html>
<head>
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website">
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="DATA INTELLIGENCE">
    <meta property="og:image" content="https://files.monday.com/use1/email_headers/4279957/thumb/sud_austral_email_header_261050.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="DATA INTELLIGENCE">
    <meta name="twitter:image" content="https://css.zohocdn.com/analytics/v3_zr/themes/common/images/link-preview.a7a6e5da0ad9a0e542db59a4810eac54.jpg">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DATA INTELLIGENCE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="~/Images/favicons/data_intelligence.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/Content/Home.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@



    @*El contenido de description aparecerá como descripción en los resultados de las búsquedas*@
    <meta name="description" content="Transformamos datos en información: Generamos cruces infinitos que resultan esenciales para la
          toma de decisiones desde un conocimiento holístico, preciso y conectado con la realidad que se está observando. " />
    @*La meta etiqueta keywords hace referencia a las palabras clave. No deberíamos establecer en ella más de 10 ó 12 palabras, separadas por comas *@
    <meta name="keywords" content="Data Intelligence, Data, Colección" />

    <script>
        function ActivarMenuSuperior4(opcionMenu) {
            $('.active24').removeClass('active24');
            $(opcionMenu).addClass("active24");
        }
    </script>
    <style>
        /*code to change background color*/
        /* .navbar-nav > li > .active2 {
            background-color: #C0C0C0 !important;
            color: green !important;
        }*/
        .navbar-nav > li > .active24 {
            border-top: 4px solid #fff;
            border-bottom: 4px solid #fff;
            padding: 15px 0;
            background-color: #B8348A;
        }
    </style>
    <link href="~/Content/carrusel14/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163367570-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-163367570-6');
    </script>
</head>
<body>
    <!--seccion navbar menu principal-->
    <nav class="navbar navbar-expand-lg navbar navbar-dark navbarClent sticky-top">
        <!--seccion logo navbar -->
        <div class="container-fluid ">
            <a class="navbar-brand content-logo" href="~/Data/Index" style="list-style:none;">
                <img class="img-fluid" src="~/Content/img/blanco-trans.png" alt="Logo DI" />
            </a>

            <button style="width:20% !important;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
                <ul class="navbar-nav mb-2 mb-lg-0 ">
                    <li class="nav-item float-md-right">
                        <a id="public_Index" class="nav-link active24" aria-current="page" href="~/Data/Index" style="color:#fff;">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a id="public_Estadisticas" class="nav-link" @*href="~/Data/Estadisticas"*@ href="/Data/paginaBusqueda?id=Chile" style="color:#fff;">ESTADÍSTICAS</a>
                    </li>
                    <li class="nav-item">
                        <a id="public_Colecciones" class="nav-link" href="~/Data/ColeccionesSalud" style="color:#fff;">COLECCIONES</a>
                    </li>
                    <li class="nav-item">
                        <a id="public_dataLab" class="nav-link" href="https://dataintelligence.store/blogs/noticias" target="_blank" style="color:#fff;">DATALAB</a>
                    </li>
                    <!--ESTE BOTON Landing de programacion de webinars-->
                    <li class="nav-item">
                        <a id="Marketing_index" class="nav-link" href="~/Marketing/Index" target="_blank" tabindex="-1" aria-disabled="true" style="color:#fff;">WEBINARS</a>
                    </li>
                    <li class="nav-item">
                        <a id="public_dataAcceso" class="nav-link" href="~/Data_Usuario/Suscripciones" target="_blank" tabindex="-1" aria-disabled="true" style="color:#fff;">ACCESO</a>
                    </li>
                    <!--ESTE BOTON ES PARA LA PRUEBA DEL IFRAME DE MEDIOS INSERTADO EN OTRA VISTA-->
                    @*<li class="nav-item">
                                <a class="nav-link" href="~/Data/Medios" target="_blank" tabindex="-1" aria-disabled="true" style="color:#fff;">MEDIOS</a>
                        </li>*@
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    @*<div class="container body-content">

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>*@
    <!--seccion Footer -->
    <footer class="bg-dark text-center text-white" style="bottom: 0 !important; position: relative;">
        <!-- Grid container -->
        <div class="container-fluid p-4">

            <!-- Section: Links -->
            <section class="">
                <!--Grid row logo de empresa-->
                <div class="row justify-content-center">
                    <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                        <img class="img-fluid" style="z-index:100;" src="~/Images/logo_dataintelligence_blanco.png" alt="Logo DI" />
                    </div>
                    <!--Grid column-->
                    <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mt-md-2" style="font-size:1rem;">DATA INTELLIGENCE</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="~/Data/Empleo" class="text-white" style="text-decoration:none;">Empleo</a>
                            </li>
                            <li>
                                <a href="~/Data/Inversion" class="text-white" style="text-decoration:none;">Inversión</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mt-md-2" style="font-size:1rem;">ASISTENCIA</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="~/Data/FAQ" class="text-white" style="text-decoration:none;">Preguntas Frecuentes</a>
                            </li>
                            <li>
                                <a href="~/Data/TerminosyCondiciones" class="text-white" style="text-decoration:none;">Términos y condiciones</a>
                            </li>
                            <li>
                                <a href="~/Data/Soporte" class="text-white" style="text-decoration:none;">Soporte</a>
                            </li>
                            <li>
                                <a href="~/Data/VentasCorporativas" class="text-white" style="text-decoration:none;">Ventas Coorporativas</a>
                            </li>
                        </ul>
                    </div>

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
                        <h5 class="text-uppercase mt-md-2" style="font-size:1rem;">SÍGUENOS</h5>
                        <section class="mb-4">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.facebook.com/dataintelligencecl/" role="button">
                                <i class="fab fa-facebook-f"></i>
                            </a>

                            <!-- Twitter -->
                            <a class="btn btn-outline-light btn-floating " target="_blank" href="https://twitter.com/data_int" role="button">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.instagram.com/data.intelligence/" role="button">
                                <i class="fab fa-instagram"></i>
                            </a>

                            <!-- Linkedin -->
                            <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.linkedin.com/in/data-intelligence-5916b41a5/" role="button">
                                <i class="fab fa-linkedin-in"></i>
                            </a>

                            <!-- Youtube -->
                            <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.youtube.com/channel/UCXo5Vhu65cOl3OcwWF9wLUA" role="button">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <!-- Pinterest -->
                            <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.pinterest.cl/dataintelligencechile/_created/" role="button">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </section>

                        @*<ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#!" class="text-white">Link 1</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 2</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 3</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 4</a>
                                </li>
                            </ul>*@
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="#">dataintelligence-group.com</a>
        </div>
        <!-- Copyright -->
    </footer>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

    <!-- Footer -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>