<h1>@ViewBag.saludo</h1>

<button onclick="mostrarSeccion1();">Informes Interactivos </button>
<button onclick="mostrarSeccion2();">Gráficos</button>
<button onclick="mostrarSeccion3();">Repotes 360°</button>



<div class="row mt-5">

    <div class="col-md-10">
        <h3 class="text-dark mb-0">Informes Interactivos</h3>
        <hr style="border:0.5px solid #000000" />
    </div>

</div>

<!--<body>-->
    @*Menu principal*@


    <!--<div class="container-fluid mt-5" style="margin-top:100px;">
        <div class="row">
            <div class="col">
                <h2>Resultados de la búsqueda</h2>
            </div>
        </div>

        <div class="row">
            <!-- Comienzo de rsultados de Busqueda -->
            <!--<div class="col-md-12">
                <div class="grid search">
                    <div class="grid-body">-->
                        <!-- Comienzo de Fila que contiene botón borrar filtro y buscador -->
                        <!--<div class="row mt-5">
                            <div class="col-md-3 text-center">-->
                                @*Boton para borrar los filtros*@
                                <!--<label class="btn btn-primary">
                                    <input style="display:none;" type="checkbox" onClick="ActivarCasilla(this), LimpiarTodo();" /> Borrar filtro
                                </label>-->
                                @*<button type="button" class="btn btn-secondary" style="border-radius:10px;">Borrar filtro</button>*@
                                <!--<script type="text/javascript">
                                    function ActivarCasilla(casilla) {
                                        miscasillas = document.getElementsByTagName('input'); //Rescatamos controles tipo Input
                                        for (i = 0; i < miscasillas.length; i++) //Ejecutamos y recorremos los controles
                                        {
                                            if (miscasillas[i].type == "checkbox") // Ejecutamos si es una casilla de verificacion
                                            {
                                                miscasillas[i].checked = casilla.checked; // Si el input es CheckBox se aplica la funcion ActivarCasilla
                                            }
                                        }
                                    }
                                </script>
                            </div>-->
                            @*fin  Boton para borrar los filtros*@
                            @*<label class="btn btn-primary">
                                    <input style="display:none;" type="checkbox" onClick="ActivarCasilla(this); " /> Marcar / Desmarcar Todos
                                </label>*@-->

                            <!--<!--fin de Fila que contiene botón borrar filtro y buscador -->
                            <!--<div class="col-md-8 pr-0">
                                <div class="p-1 bg-transparent rounded-pill shadow-sm mb-4" style="border: 0.5px solid #bbc1c5; border-radius: 20px;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button id="button-addon2" type="submit" class="btn btn-link text-dark"><i class="fa fa-search"></i></button>
                                        </div>
                                        <input id="search" type="search" placeholder="Búsqueda por palabras claves" aria-describedby="button-addon2" class="form-control rounded rounded-pill border-0 bg-transparent">
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!-- Final de Fila que contiene botón borrar filtro y buscador -->
                        <!--<div class="row" style="border:hidden !important;">-->
                            <!-- Comienzo filtros -->
                            <!--<div class="tags col-md-3 " style="border: 0.5px solid #bbc1c5; border-radius: 20px; padding-top: 12px;">-->
                                @*Este script es para hacer el filtro de la tabla*@
                                <!--<script>
                                    $(document).ready(function () {
                                        $(".name").on("click", function () {
                                            name_list = []
                                            $("#myTable tr").hide()
                                            var flag = 1
                                            $("input:checkbox[name=name]:checked").each(function () {
                                                flag = 0;
                                                var value = $(this).val().toLowerCase();
                                                $("#myTable tr").filter(function () {
                                                    if ($(this).text().toLowerCase().indexOf(value) > -1)
                                                        $(this).show()
                                                });
                                            });
                                            if (flag == 1)
                                                $("#myTable tr").show()
                                        });
                                    });
                                </script>-->

                                @*Este script es para hacer el filtro de la tabla*@-->
                                <!--<!-- Comienzo filtros por Pais-->
                                <!--<h5 style="color:black;">TIPO DE INFORMACIÓN</h5>

                                <h4 class="mt-3">COLECCIÓN</h4>
                                <div class="side" style="overflow:scroll; height:250px; overflow:hidden;">
                                    @foreach (var item in ViewBag.Sector)
                                    {
                                        <div>
                                            <label style="margin-bottom:0 !important;"><input type="checkbox" class="name" name="name" value="@item"> @item</label>
                                        </div>

                                    }
                                </div>
                                <h4>SECTOR</h4>
                                <div class="side" style="overflow:scroll; height:250px; overflow:hidden;">
                                    @foreach (var item in ViewBag.Industria)
                                    {
                                        <div>
                                            <label style="margin-bottom:0 !important;"><input type="checkbox" class="name" name="name" value="@item"> @item</label>
                                        </div>

                                    }
                                </div>
                                <h4>TERRITORIO</h4>
                                <div class="side mb-5" style="overflow:scroll; height:250px; overflow:hidden;">
                                    @foreach (var item in ViewBag.Paises)
                                    {
                                        <div>
                                            <label style="margin-bottom:0 !important;"><input type="checkbox" class="name" name="name" value="@item"> @item</label>
                                        </div>

                                    }
                                </div>


                            </div>-->
                            <!-- COMIENZO RESULTADOS -->
                            <!--<div class="col-md-8 pr-0 ml-2" style="border: 0.5px solid #bbc1c5;border-radius:20px; ">



                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                                <script>
                                    // Write on keyup event of keyword input element
                                    $(document).ready(function () {
                                        $("#search").keyup(function () {
                                            _this = this;
                                            // Show only matching TR, hide rest of them
                                            $.each($("#mytable tbody tr"), function () {
                                                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
                                                    $(this).hide();
                                                else
                                                    $(this).show();
                                            });
                                        });
                                    });
                                </script>
                                <script>
                                    $(document).ready(function () {
                                        var nrows = 0; var nres = 0;
                                        $("table tr").each(function () {
                                            nrows++;
                                        })
                                        $("#nrows").html(nrows);
                                        $(".isres").each(function () {
                                            nres++;
                                        })
                                        $("#nres").html(nres);
                                    });
                                </script>-->
                                <!-- COMIENZO TABLA RESULTADOS -->

                                <!--<h5 class="ml-3 mt-3" style="color:black">Informes ? | @ViewBag.Resultado2.Count resultados</h5>
                                <div class="table-responsive display my-3" style=" height:250px; overflow:hidden; border-radius: 20px !important; padding-left: 15px;">
                                    <table id="mytable" class="table" border:none !important;">
                                        <thead id="stud_body" style="border:none;">
                                            <tr style="border:none;">
                                                <th style="border:none;"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="myTable" style="border: none !important;">
                                            @foreach (var item in ViewBag.Resultado2)
                                            {
                                                <tr>
                                                    <td style="border:none !important;">
                                                        <a href="" target="_blank" type="button" class=" btn2" data-toggle="modal" data-target="#myModal1" data-backdrop="True">
                                                            @item.nombre <br /> @item.TIPO_GRAFICO_id @item.TIPO_GRAFICO.nombre
                                                            <p style="display:none;">@item.TERRITORIO.nombre </p>
                                                        </a>
                                                        @item.TEMPORALIDAD.nombre

                                                    </td>

                                                </tr>
                                            }

                                        </tbody>

                                    </table>-->


                                    <!-- Modal -->
                                    <!--<div class="modal fade" id="myModal1" role="dialog">
                                        <div class="modal-dialog modal-lg">-->

                                            <!-- Modal content-->
                                            <!--<div class="modal-content" style="background-color:black;">
                                                <div class="modal-header">
                                                    <p style="color:white">
                                                        Este INFORME INTERACTIVO es posible adquirirlo de dos formas:
                                                    </p>
                                                    <button type="button" class="close" style="color:white" data-dismiss="modal">&times;</button>

                                                </div>
                                                <div class="modal-body">
                                                    <div class="row m-1" style="background-color:white; border-radius: 5px;">
                                                        <div class="col-5 p-1">
                                                            <div class="col-12">
                                                                <img style="height:80%; width:80%" src="/Content/image_estadistica/logo_informeinteractivo.png" /><br> <br>
                                                            </div>
                                                            <div class="col-12 ">
                                                                <div class="row">
                                                                    <div class="col-5" style="border-right:0.5px solid #b5a7a7; text-align:right ">
                                                                        <span> USD </span><span style="color:red; font-size:22px;">10</span>
                                                                        pago único
                                                                    </div>
                                                                    <div class="col-7">
                                                                        <form action="https://dataintelligence.store/products/feminicidios-de-mujeres-y-ninas-2016-2019-el-salvador">
                                                                            <button class="sub btn btn-danger btn-sm mt-2" style="border-radius:20px; font-size:12px;">
                                                                                Adquirir
                                                                            </button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-7 p-1">
                                                            <p style="color:red;"> Con un único pago, puede interactuar  en los filtros activos durante todo 1 año.</p>

                                                            <p class="font-weight-bold" style="color:black;"> Incluye:</p>
                                                            <ul style="color:black;">
                                                                <li>Descargas en PDF, PNG y Excel.</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="row m-1" style="background-color:white; border-radius:5px; margin-top:2%;">
                                                        <div class="col-5 p-1">
                                                            <div class="col-12">
                                                                <img style="height:80%; width:80%" src="/Content/image_estadistica/imagenpromocion_2.png" /><br><br><br><br><br><br>
                                                            </div>
                                                            <div class="col-12 ">
                                                                <div class="row">
                                                                    <div class="col-5" style="border-right:0.5px solid #b5a7a7; text-align:right ">
                                                                        <span> USD </span><span style="color:red; font-size:22px;">35</span>
                                                                        mensuales
                                                                    </div>
                                                                    <div class="col-7">
                                                                        <form action="https://dataintelligence.store/products/feminicidios-de-mujeres-y-ninas-2016-2019-el-salvador">
                                                                            <button class="sub btn btn-danger btn-sm mt-2" style="border-radius:20px; font-size:12px;">
                                                                                Adquirir
                                                                            </button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-7 p-1">
                                                            <p style="color:red;">
                                                                Cuenta suscripción anual con acceso  la colección completa de los temas de un sector.
                                                            </p>
                                                            <p class="font-weight-bold" style="color:black;"> Incluye:</p>
                                                            <ul style="color:black;">
                                                                <li>Acceso a miles de Gráficos, Mapas interactivos y diagramas.</li>
                                                                <li>Acceso a todos los Informes Interactivos.</li>
                                                                <li>Acceso a Reportes 360º con 30% de descuento.</li>
                                                                <li>Descargas en PDF, PNG y Excel.</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer text-center">
                                                    <img class="mx-0 pull-left" style="width:35%; height:35%;" src="/Content/img/blanco-trans - copia.png" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>-->
                                    <!--script1 para la paginacion-->
                                    <!--<script type="text/javascript">
                                        Paginador = function (divPaginador, tabla, tamPagina) {
                                            this.miDiv = divPaginador; //un DIV donde irán controles de paginación
                                            this.tabla = tabla;           //la tabla a paginar
                                            this.tamPagina = tamPagina; //el tamaño de la página (filas por página)
                                            this.pagActual = 1;         //asumiendo que se parte en página 1
                                            this.paginas = Math.floor((this.tabla.rows.length - 1) / this.tamPagina); //¿?

                                            this.SetPagina = function (num) {
                                                if (num < 0 || num > this.paginas)
                                                    return;

                                                this.pagActual = num;
                                                var min = 1 + (this.pagActual - 1) * this.tamPagina;
                                                var max = min + this.tamPagina - 1;

                                                for (var i = 1; i < this.tabla.rows.length; i++) {
                                                    if (i < min || i > max)
                                                        this.tabla.rows[i].style.display = 'none';
                                                    else
                                                        this.tabla.rows[i].style.display = '';
                                                }
                                                this.miDiv.firstChild.rows[0].cells[1].innerHTML = this.pagActual;
                                            }

                                            this.Mostrar = function () {
                                                //Crear la tabla
                                                var tblPaginador = document.createElement('table');

                                                //Agregar una fila a la tabla
                                                var fil = tblPaginador.insertRow(tblPaginador.rows.length);

                                                //Ahora, agregar las celdas que serán los controles


                                                //Como ya tengo mi tabla, puedo agregarla al DIV de los controles
                                                this.miDiv.appendChild(tblPaginador);

                                                //¿y esto por qué?
                                                if (this.tabla.rows.length - 1 > this.paginas * this.tamPagina)
                                                    this.paginas = this.paginas + 1;

                                                this.SetPagina(this.pagActual);
                                            }
                                        }
                                    </script>
                                </div>

                            </div>
                            <div id="paginador"></div>-->
                            @*script2 para paginacion*@
                            <!--<script type="text/javascript">
                                var p = new Paginador(
                                    document.getElementById('paginador'),
                                    document.getElementById('mytable')
                                );
                                p.Mostrar();
                                function LimpiarTodo() {
                                    var p = new Paginador(
                                        document.getElementById('paginador'),
                                        document.getElementById('mytable')
                                    );
                                    p.Mostrar();
                                }
                            </script>-->

                            <!-- FINAL TABLA DE RESULTADOS -->

                        <!--</div>-->
                        <!-- FINAL RESULTADOS -->
                    <!--</div>
                </div>
            </div>
        </div>-->
        <!-- FINAL RESULTADOS DE BUSQUEDA -->
    <!--</div>
    </div>-->


    @*Jquery, Popper bootstrap.min.js*@
    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>-->
    @*este script es para la tabla y filtro de buscado agrupar y paginacion de tabla  el codigo dentro de language es para traducir elementos de la tabla*@
    @*script3 para la paginacion y selector de filas*@
    <script>
        var table = '#mytable'
        $('#maxRows').on('change', function () {
            /*alert('Hola');*/
            $('.pagination').html('')
            var trnum = 0;
            var maxRows = parseInt($(this).val())
            var totalRows = $(table + ' tbody tr').length
            $(table + ' tr:gt(0)').each(function () {
                trnum++
                if (trnum > maxRows) {
                    $(this).hide()
                }
                if (trnum <= maxRows) {
                    $(this).show()
                }
            })
            if (totalRows > maxRows) {
                var pagenum = Math.ceil(totalRows / maxRows)
                for (var i = 1; i <= pagenum;) {
                    $('.pagination').append('<li class="btn" data-page="' + i + '">\<span>' + i++ + '<span class="page-item  sr-only">(current)</span></span>\</li>').show()
                }
            }

            $('.pagination li:first-child').addClass('active')
            $('.pagination li').on('click', function () {
                var pageNum = $(this).attr('date-page')
                var trIndex = 0;
                $('.pagination li').removeClass('active')
                $(this).addClass('active')
                $(table + ' tr:gt(0)').each(function () {
                    trIndex++
                    if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                        $(this).hide()
                    } else {
                        $(this).show()
                    }

                })
            })
        })




    </script>
</body>-->


